{%  extends "base2.html" %}
{%  block content %}

    <!-- wrap in if HOS in current user roles -->
        <h2 class="page-header"><i class="fa fa-users"></i> My Service - {{ service_name | default("TEST PAGE", true) }}</h2>

        <!-- Staff quick links box -->
        <div class="row">
            <div class="col-md 12">
                <div class="box box-solid bg-gray-light" id="training">
                    <div class="box-header">
                        <h3 class="box-title text-black"><i class="fa fa-link"></i> Quick Links</h3>
                    </div>
                    <div class="box-body">
                        {% for report in linereports %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle pad_bottom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> {{ report.first_name }} {{ report.last_name }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('competence.assign_user_to_competence') }}?ids={{ report.id }}">Assign a Competence</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('training.user_report', id=report.id) }}">View User Report</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Competence Status Summary section -->
            <div class="col-md-6">
                <div class="box box-solid bg-gray-light" id="training">
                    <div class="box-header">
                        <h3 class="box-title text-black"><i class="fa fa-bar-chart"></i> Competence Status Summary</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="barChart" style="height: 300px; width: 497px;" width="621" height="300"></canvas>
                        </div>
                        <small>* This is a count of total assessments and not total competences.</small><br>
                        <small>† This includes expired/expiring competencies.</small>
                    </div>
                </div>
            </div>

            <!-- Expired and Expiring Competencies section -->
            <div class="col-md-6 fill">
                <div class="box box-danger" id="training">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-calendar-times-o"></i> Expiring/Expired Competencies</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                                <th>User</th>
                                <th>Expiring</th>
                                <th>Expired</th>
                            </thead>
                            {% for report in linereports %}
                                {% if "expiring" in counts[report.id] or "expired" in counts[report.id] %}
                                    <tr>
                                        <td>{{ report.first_name }} {{ report.last_name }}</td>
                                        <td>{{ counts[report.id]["expiring"] | default("-", true) }}</td>
                                        <td>{{ counts[report.id]["expired"] | default("-", true) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <small>* This is a count of total assessments and not total competencies.</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Detailed Counts section -->
        <div class="row">
            <div class="col-md-12">
                <div class="box collapsed-box" id="training">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detailed Counts</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-default btn-flat btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body table-responsive table-striped table-condensed">
                        <table class="table table-responsive table-striped table-condensed table-hover no-padding">
                            <thead>
                                <th class="col-md-3">Name</th>
                                <th class="col-md-1">Assigned</th>
                                <th class="col-md-1">Active</th>
                                <th class="col-md-1">Sign-Off</th>
                                <th class="col-md-1">Complete †</th>
                                <th class="col-md-1">Failed</th>
                                <th class="col-md-1">Abandoned</th>
                                <th class="col-md-1">Obsolete</th>
                                <th class="col-md-1">Expiring</th>
                                <th class="col-md-1">Expired</th>
                            </thead>
                            {% for report in linereports %}
                                <tr>
                                    <td>{{ report.first_name }} {{ report.last_name }}</td>
                                    <td>{{ counts[report.id]["assigned"] }}</td>
                                    <td>{{ counts[report.id]["active"] }}</td>
                                    <td>{{ counts[report.id]["sign-off"] }}</td>
                                    <td>{{ counts[report.id]["complete"] }}</td>
                                    <td>{{ counts[report.id]["failed"] }}</td>
                                    <td>{{ counts[report.id]["abandoned"] }}</td>
                                    <td>{{ counts[report.id]["obsolete"] }}</td>
                                    <td>{% if "expiring" in counts[report.id] %}{{ counts[report.id]["expiring"] }}{% else %}0{% endif %}</td>
                                    <td>{% if "expired" in counts[report.id] %}{{ counts[report.id]["expired"] }}{% else %}0{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <small>* This is a count of total assessments and not total competencies.</small>
                        <small>† This includes expired/expiring competencies.</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="/static/bower_components/chart.js/Chart.js"></script>
        <script>
        $(function () {
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            var data = {
                labels: ['Assigned', 'Active', 'Sign-Off', 'Complete †', 'Failed', 'Abandoned', 'Obselete', 'Expiring', 'Expired'],
                datasets: [{
                    data: [{{ assigned_count }}, {{ active_count }}, {{ signoff_count }}, {{ complete_count }}, {{ failed_count }}, {{ abandoned_count }}, 0, {{ expiring_count }}, {{ expired_count }}],
                    label: 'Digital Goods',
                    fillColor: '#EA5D4E',
                    strokeColor: 'rgba(60,141,188,0.8)',
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                }]
            }
            //-------------
            //- BAR CHART -
            //-------------
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChart = new Chart(barChartCanvas)
            var barChartData = data
            barChartData.datasets[0].fillColor = '#EA5D4E'
            barChartData.datasets[0].strokeColor = '#8c8c8c'
            barChartData.datasets[0].pointColor = '#ffcc00'
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 0,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 1,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                {#      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',#}
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            };

            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)
        })
        </script>

    <!-- endif -->
{%  endblock %}