{% extends "base.html" %}
{% block content %}


<div class="page-header">
    <h1>Admin</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Users</div>
  <div class="panel-body">
    <a href="{{ url_for('admin.users_view') }}">View Users</a>
    <a href="{{ url_for('admin.users_add') }}">Add User</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-education"></span> Competences</div>
  <div class="panel-body">
    **here we need a text box that has autocomplete for competences**
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-apple"></span> Training</div>
  <div class="panel-body">
    **just a link to all training in db?**
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-file"></span> Reporting</div>
  <div class="panel-body">
    **Links to reports?**
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> Reference Tables</div>
  <div class="panel-body">

    <a href="{{ url_for('admin.userroles') }}">User Roles</a>

  </div>
</div>

{% endblock %}