{% extends "base2.html" %}
{% block content %}

<section>
    <h1><i class="fa fa-lock"></i> Change Password</h1>
</section>


<!-- Main content -->
<section class="content container-fluid">
    <div class="box" id="training">
        <div class="box-body">
            <form action="{{ url_for('admin.change_password') }}" method="POST" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        {{ form.old_password.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.old_password(class_="form-control",required="required") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.new_password.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.new_password(class_="form-control",required="required") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.new_password_check.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.new_password_check(class_="form-control",required="required") }}
                            <span class="help-block"><div id="divCheckPasswordMatch"></div></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class_="btn btn-primary btn-flat") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>


<script>
function checkPasswordMatch() {
    let password = $("#new_password").val();
    let confirmPassword = $("#new_password_check").val();

    if (password != confirmPassword) {
        $("#divCheckPasswordMatch").html("Passwords do not match!");
        $("#divCheckPasswordMatch").removeClass("text-green").addClass("text-red");
    }
    else {
        $("#divCheckPasswordMatch").html("Passwords match.");
        $("#divCheckPasswordMatch").removeClass("text-red").addClass("text-green");
    }
}

$(document).ready(function () {
   $("#new_password, #new_password_check").keyup(checkPasswordMatch);
});


</script>

{% endblock %}