{% extends "base2.html" %}
{% block content %}






            <h1>
                Constant Sub-Sections
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="callout callout-danger">
                <h4>Editing this DANGEROUS</h4>

                <p>This page is here to create and delete constant subsections for competencies - I.e. Health & Safety. Adding is OK
                    editing will affect all competencies with that subsection so not a good idea</p>
            </div>

            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Constant Sub-Section</h3>

                </div>
                <div class="box-body">
                    <form action="{{ url_for('admin.constant_subsections') }}" method="POST" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                {{ form.name.label(class_="col-lg-2 control-label") }}
                                <div class="col-lg-10">
                                    {{ form.name(required="required",class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.section.label(class_="col-lg-2 control-label") }}
                                <div class="col-lg-10">
                                    {{ form.section(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    {{ form.submit(class_="btn btn-primary btn-flat") }}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Sections</h3>

                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <th>Constant Sub-Section</th>
                        <th>Section</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>

                        {% for subsection_object in data %}
                            <tr>
                                <td>{{ subsection_object.item }}</td>
                                <td>{{ subsection_object.s_id_rel.name }}</td>
                                <td><a href="{{ url_for('admin.constant_subsections_edit', id=subsection_object.id) }}"><span
                                        class="label label-primary"><span
                                        class="glyphicon glyphicon-pencil"></span></span></a></td>
                                <td>
                                    <a href="{{ url_for('admin.delete_constant_subsection', id=subsection_object.id) }}"><span
                                            class="label label-danger"><span
                                            class="glyphicon glyphicon-remove"></span></span></a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </section>
    </div>

{% endblock %}}