{% extends "base.html" %}
{% block content %}
<div class="page-header">
<h1>Evidence Types</h1>
</div>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="well bs-component">
            <form action="{{ url_for('admin.evidencetypes') }}" method="POST" class="form-horizontal">
                <fieldset>
                    <legend>Add Evidence Type</legend>
                    <div class="form-group">
                        {{ form.type.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.type(required="required",class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="well bs-component">
            <legend>Evidence Types</legend>
            <table class="table table-striped">
                <thead>
                    <th>Evidence</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>

            {% for evidence_object in data %}
                <tr>
                    <td>{{ evidence_object.type }}</td>
                    <td><a href="{{ url_for('admin.evidencetypes_edit', id=evidence_object.id) }}"><span class="label label-primary"><span class="glyphicon glyphicon-pencil"></span></span></a></td>
                    <td><a href="{{ url_for('admin.deleteevidencetype', id=evidence_object.id) }}"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span></a></td>
                </tr>
            {% endfor %}

            </table>
           </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}}