{% extends "login_base.html" %}
{% block content %}

        <div class="login-box-body">
            <p class="login-box-msg">Reset Password Request</p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="callout callout-{{ category }}">

                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('admin.request_reset_password') }}" method="POST" class="form-horizontal">
                <fieldset>

                    <p>
                        {{ form.email.label(class_="control-label") }}<br>
                        {{ form.email(class_="form-control",required="required") }}
                    </p>


                    <p>
                        {{ form.submit(class_="btn btn-primary btn-block btn-flat") }}
                    </p>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>


    <script>
        function checkPasswordMatch() {
            var password = $("#new_password").val();
            var confirmPassword = $("#new_password_check").val();

            if (password != confirmPassword) {
                $("#divCheckPasswordMatch").html("Passwords do not match!");
                $("#divCheckPasswordMatch").removeClass("text-green").addClass("text-red");
            }
            else {
                $("#divCheckPasswordMatch").html("Passwords match.");
                $("#divCheckPasswordMatch").removeClass("text-red").addClass("text-green");
            }

        }

        $(document).ready(function () {
            $("#new_password, #new_password_check").keyup(checkPasswordMatch);
        });


    </script>



{% endblock %}