{% extends "login_base.html" %}
{% block content %}

<div class="login-box">
        <div class="login-logo">
            <img src="/static/images/logo.png" height="100%" width="100%">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Reset Password</p>
            <form action="{{ url_for('admin.reset_password') }}" method="POST" class="form-horizontal">
                <fieldset>

                    <p>
                        {{ form.new_password.label(class_="control-label") }}<br>
                            {{ form.new_password(class_="form-control",required="required") }}
                    </p>

                   <p>
                        {{ form.new_password_check.label(class_="control-label") }}<br>
                            {{ form.new_password_check(class_="form-control",required="required") }}
                       <span class="help-block"><div id="divCheckPasswordMatch"></div></span>
                   </p>



                    <p>
                            {{ form.submit(class_="btn btn-primary btn-block btn-flat") }}
                    </p>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<script>
function checkPasswordMatch() {
    var password = $("#new_password").val();
    var confirmPassword = $("#new_password_check").val();

    if (password != confirmPassword) {
        $("#divCheckPasswordMatch").html("Passwords do not match!");
        $("#divCheckPasswordMatch").removeClass("text-green").addClass("text-red");
    }
    else {
        $("#divCheckPasswordMatch").html("Passwords match.");
        $("#divCheckPasswordMatch").removeClass("text-red").addClass("text-green");
    }

}

$(document).ready(function () {
   $("#new_password, #new_password_check").keyup(checkPasswordMatch);
});


</script>



{% endblock %}