{% extends "base2.html" %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-w fa-users"></i> Users
                <small>All users of StarDB.</small>
            </h1>
{#            <ol class="breadcrumb">#}
{#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#                <li class="active">Here</li>#}
{#            </ol>#}
            {% if message %}
                <div class="alert alert-danger dissmissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Warning!</strong> {{ message|safe }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">


            <div class="box" id="training">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">


                        <a href="#" class="btn btn-default btn-flat dropdown-toggle"
                           data-toggle="dropdown"
                           aria-expanded="false">With Selected... <span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li><a href="#" class="action" name="assign_user_to_competence"><span
                                    class="glyphicon glyphicon-search"></span> Assign A Competence</a></li>
                        </ul>

                    </div>
                </div>
                <div class="box-body table-responsive">

                        <table class="table table-striped table-condensed  dataTable dt-responsive" width="100%" id="users">
                            <thead>
                            <th class="col-md-1">id</th>
                             {% if "ADMIN" in current_user.roles %}
                            <th class="col-md-1">Login</th>
                            {%  endif  %}
                            <th class="col-md-2">Name</th>
                            {% if 'PRIVILEGE' in current_user.roles %}
                                <th class="col-md-2">Staff No</th>
                            {% endif %}
                            <th class="col-md-2">Section</th>
                            <th class="col-md-2">Line Manager</th>
                            <th class="col-md-2">User Roles</th>
                            <th class="col-md-3">Job Roles</th>
                            {% if "ADMIN" in current_user.roles %}
                            <th class="col-md-1">Edit</th>
                            <th class="col-md-1">Active</th>
                            {% endif %}
                            </thead>
                            {% for user in data %}
                                <tr>
                                    <td>{{ user["id"] }}</td>
                                    {% if "ADMIN" in current_user.roles %}
                                    <td>{{ user["login"] }}</td>
                                {% endif %}
                                    <td>{{ user["first_name"] }} {{ user["last_name"] }}</td>
                                    {% if 'PRIVILEGE' in current_user.roles %}
                                        <td>{{ user["staff_no"] }}</td>
                                    {% endif %}
                                    <td>{{ user["sectionname"] }}</td>
                                    <td>{{ user["line_manager_name"] }}</td>
                                    <td>
                                        {% for role in user["roles"] %}
                                            <span class="label label-default">{{ role }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for job in user["jobs"] %}
                                            <span class="label label-default">{{ job }}</span>
                                        {% endfor %}
                                    </td>
                                 {% if "ADMIN" in current_user.roles %}
                                    <td><a href="{{ url_for('admin.users_edit',id=user["id"]) }}"
                                           class="btn btn-sm btn-flat btn-warning"><span
                                            class="glyphicon glyphicon-pencil"></span></a></td>
                                    {% if user["active"] == True %}
                                        <td><a href="{{ url_for('admin.users_toggle_active',id=user["id"]) }}"
                                               class="btn btn-sm btn-flat btn-success"><span
                                                class="glyphicon glyphicon-ok"></span></a></td>
                                    {% endif %}
                                    {% if user["active"] == False %}
                                        <td><a href="{{ url_for('admin.users_toggle_active',id=user["id"]) }}"
                                               class="btn btn-sm btn-flat btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span></a></td>
                                    {% endif %}
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </table>

                </div>
            </div>

        </section>
    </div>
    {% if warning %}
    <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Default Modal</h4>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
    {% endif %}


{% endblock %}