<!DOCTYPE html>
<lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/simple_report.css">
    <title>Export competence</title>
</head>
<body>

<div class="panel" style="background-color: lightgray; border:solid black 1px">
    <h1><strong> Title: {{ title }}</strong></h1>
</div>

<div class="panel" style="border: solid black 1px">
    <h2><strong> Trainee: </strong></h2>
</div>
<br/>
<div class="panel" style="border: solid black 1px">
    <h2><strong>Scope:</strong></h2>
    <p>{{ scope }}</p>
</div>
<br/>
<div class="panel" style="border: none">
    <table>
        <tr>
            <td><h2><strong>SOPs and documents used within this Competency Training:</strong></h2></td>
            <td><h2><strong>QPulse no:</strong></h2></td>
        </tr>
        {% if qpulse_list %}
            {% for qpulse_no in qpulse_list %}

                <tr>
                    <td><p>{{ qpulse_list[qpulse_no] }}</p></td>
                    <td><p>{{ qpulse_no[0] }}</p></td>
                </tr>
            {% endfor %}
        {% else %}
            <td><p>N/A</p></td>
            <td><p>N/A</p></td>
        {% endif %}
    </table>
</div>
<br/>

<div class="panel" style="border: 0px">
    <table>
        <tr>
            {% for sec_type in constant_dict %}
                <tr>
                    <h2><strong>{{ sec_type }} </strong></h2>
                </tr>
                <tr>
                <td><p><strong>Area of Competence</strong></p></td>
                <td><p><strong>Comments</strong></p></td>
                <td><p><strong>Date discussed</strong></p></td>
                <td><p><strong>Trainer Initials</strong></p></td>
                </tr>
                {% if sec_type %}
                    <tr>
                        <td>{{ constant_dict[sec_type][0] }}</td>
                        <td>{{ constant_dict[sec_type][1] }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>None</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
</div>
<br/>

<div class="panel" style="border: 0px">
    <table style="border: 0px">
        <tr>
        {% for sub_name in subsec_dict %}
            <tr>
                <h2><strong>{{ subsec_dict[sub_name][0] }} </strong></h2>
            </tr>
            <tr>
                <td><p><strong>Area of Competence</strong></p></td>
                <td><p><strong>Comments</strong></p></td>
                <td><p><strong>Date discussed</strong></p></td>
                <td><p><strong>Trainer Initials</strong></p></td>
            </tr>
            <tr>
                <td>{{ subsec_dict[sub_name][1] }}</td>
                <td>{{ subsec_dict[sub_name][2] }}</td>
                <td></td>
                <td></td>

            </tr>
        {% endfor %}
    </table>
</div>
<br/>

<p><strong> If you have not carried out this task for a period of greater than {{ validity_period }} months you are no
    longer deemed competent and need to be reassessed. This is assuming NO major changes have been made to the
    procedure. </strong></p>
<table>
    <tr>
        <td><strong>Date of reassessment</strong></td>
        <td><strong>Trainer</strong></td>
        <td><strong>Notes/Major changes Implemented (Y/N)</strong></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<p>Were all aspects conducted according to documented procedures? {{ reassess_outcome }} </p>

<p>Are SOP's readily available, up to date, formatted in accordance with 999-0092h Content of Examination Procedures and
    detailed enough to allow a consistency of application? {{ sop_status }} </p>

<p> If “NO” – have change requests (C/R) been raised? {{ sop_change_request }}


<table>
    <tr>SUCCESSFULLY COMPLETED</tr>
    <tr>
        <td>Signed: Trainee</td>
        <td></td>
    </tr>
    <tr>
        <td>Signed: Assessor</td>
        <td></td>
    </tr>
    <tr>
        <td>Designation:</td>
        <td>{{ service }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td> {{ current_date }}</td>
    </tr>
</table>
<br/>

</body>
</html>