<header>
<div id="page-header">
    <table style="word-wrap:break-word" >
        <tr style="border: none">
            <td style="border: none">Sheffield Children's NHS Foundation Trust</td>
            <td style="border: none"><strong>Department:</strong> Sheffield Diagnostics Genetics Service</td>
        </tr>
        <tr style="border: none">
            <td style="border: none"><strong>Title:</strong> {{title}}</td>
            <td style="border: none"><strong>Document reference number:</strong> {{docid}}</td>
        </tr>
    </table>
</div>
</header>