<header>
<div id="page-header" style="width: 100%; margin: 0 auto;">
    <table style="word-wrap:break-word;border:solid black 1px;background-color: #F4F4F4;border-collapse: collapse" >
        <tr >
            <td ><strong>Sheffield Children's NHS Foundation Trust</strong></td>
            <td ><strong>Department:</strong> Sheffield Diagnostics Genetics Service</td>
        </tr>
        <tr >
            <td ><strong>Title:</strong> {{title}}</td>
            <td ><strong>Document Reference Number:</strong> {{docid}}</td>
        </tr>
    </table>
</div>
</header>