<footer>
<div id="page-footer" style="width: 100%; margin: 0 auto;">

    <table id="footer" style="width:100%;word-wrap:break-word;border:solid black 1px;background-color: #f4f4f4">
        <tr>
             <td><strong>Date Created:</strong> {{ date }}</td>
            <td><strong>Created By:</strong> {{ user }}</td>
        </tr>

    </table>
    <br>
    <p>This report is produced by CompetenceDB, a training and competency management system developed by Sheffield Diagnostic Genetics Service</p>
</div>
</footer>
