{% extends "base2.html" %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-graduation-cap"></i> Training
                <small></small>
            </h1>
            {#            <ol class="breadcrumb">#}
            {#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#                <li class="active">Here</li>#}
            {#            </ol>#}
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">


            <div class="row">
                <div class="col-lg-12">
                    <h3>{{ title }}
                        <small class="label bg-gray">v{{ version }}</small>
                    </h3>
                    <p class="text-muted">{{ scope }}</p>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            {% if completed == '-' and activated != '-' %}

                                <a class="btn btn-success btn-flat pull-right" role="button"
                                   href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&u_id={{ u_id }}&version={{ version }}&action=evidence"><span
                                        class="glyphicon glyphicon-open"></span> Submit Evidence</a>

                                <a class="btn btn-primary btn-flat pull-right" role="button"
                                   href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&u_id={{ u_id }}&version={{ version }}&action=activate"><i
                                        class="fa fa-play"></i> Activate</a>

                            {% elif activated == '-' %}

                                <a class="btn btn-primary btn-flat pull-right" role="button"
                                   href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&u_id={{ u_id }}&version={{ version }}&action=activate"><i
                                        class="fa fa-play"></i> Activate</a>

                            {% else %}

                                {#                                {% set id_list = [] %}#}
                                {#                                {% for section in section_list %}#}
                                {#                                    {% for sub in section_list[section] %}#}
                                {#                                        {% for i in section_list[section][sub]["subsections"] %}#}
                                {#                                            {{ id_list.append(i["id"])|default("", True) }}#}
                                {#                                        {% endfor %}#}
                                {#                                    {% endfor %}#}
                                {#                                {% endfor %}#}
                                <a href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&version={{ version }}&action=reassess"
                                   class="btn btn-success btn-flat pull-right">Reassess</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>

                </div>
                <div class="box-body table-responsive no-padding">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Assigned</th>
                            <th>Date Due</th>
                            <th>Validity</th>
                            <th>Activated</th>
                            <th>Completed</th>
                            <th>Earliest Expiry Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ friendly_date(assigned) }}</td>
                            <td>{{ check_due_date(assigned,due_date)|safe }}</td>
                            <td>{{ validity }} months</td>
                            <td>{{ friendly_date(activated) }}</td>
                            <td>{{ friendly_date(completed) }}</td>
                            <td>{{ friendly_date(expires) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <h3>Common Sections</h3>
            {% for section in section_list['constant'] %}

                <div class="box box-danger" id="training">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="box-title">{{ section }}</h3>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    {% set percent = (section_list['constant'][section]['complete'] / section_list['constant'][section]['total']) *100 %}
                                    {{ section_list['constant'][section]['complete'] }} out
                                    of {{ section_list['constant'][section]['total'] }}
                                </div>
                            </div>
                            <div class="col-md-2" style="height: 20px;">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success "
                                         style="width:{{ percent }}%"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-4">Area of Competence</th>
                                <th class="col-md-1">Status</th>
                                <th class="col-md-5">Declaration</th>
                                <th class="col-md-2"></th>

                            </tr>
                            </thead>
                            <tfoot>
                            {% for sub in section_list['constant'][section]['subsections'] %}
                                <tr>

                                    <td>{{ sub['name'] }}</td>
                                    <td>{{ make_status_label(sub['status'])|safe }}</td>
                                    {% if sub['status'] != "Complete" %}
                                        <td><input type="checkbox" class="check" id="check_{{ sub['id'] }}"> I
                                            acknowledge I
                                            have read the relevant documents and are aware of the health &
                                            safety
                                            implications
                                        </td>
                                        <td>
                                            <button role="button"
                                                    onclick="location.href = '{{ url_for('training.self_complete',assess_id=sub['id']) }}?c_id={{ competence }}&version={{ version }}'"
                                                    class="btn btn-sm btn-flat btn-success" id="button_{{ sub['id'] }}"
                                                    disabled="disabled"><span
                                                    class="glyphicon glyphicon-ok"></span> Complete
                                                Section
                                        </td>
                                    {% else %}
                                        <td colspan="2">I have acknowledged that I
                                            have read the relevant documents and are aware of the health &
                                            safety
                                            implications
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>



            {% endfor %}
            <h3>Specific Sections</h3>
            {% for section in section_list['custom'] %}
                <div class="box box-success" id="training">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="box-title">{{ section }}</h3>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    {% set percent = (section_list['custom'][section]['complete'] / section_list['custom'][section]['total']) *100 %}
                                    {{ section_list['custom'][section]['complete'] }} out
                                    of {{ section_list['custom'][section]['total'] }}
                                </div>
                            </div>
                            <div class="col-md-2" style="height: 20px;">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success "
                                         style="width:{{ percent }}%"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-3">Area of Competence</th>
                                <th class="col-md-2">Notes</th>
                                <th class="col-md-1">Status</th>
                                <th class="col-md-1">Evidence Type</th>
                                <th class="col-md-1">Trained By</th>
                                <th class="col-md-1">Trained On</th>
                                <th class="col-md-1">Assessed By</th>
                                <th class="col-md-1">Assessed On</th>
                                <th class="col-md-1">Evidence</th>

                            </tr>
                            </thead>
                            <tfoot>
                            {% for sub in section_list['custom'][section]['subsections'] %}
                                <tr>
                                    <td>{{ sub['name'] }}</td>
                                    <td>{{ sub['notes'] }}</td>
                                    <td>{{ make_status_label(sub['status'])|safe }}</td>
                                    <td>{{ sub['evidence_type'] }}</td>
                                    <td>{{ sub['trainer'] }}</td>
                                    <td>{{ sub['date_of_training'] }}</td>
                                    <td>{{ sub['assessor'] }}</td>
                                    <td>{{ sub['date_of_completion'] }}</td>
                                    <td>

                                        {% if sub['evidence'] == '-' %}
                                            <a class="btn btn-sm btn-default" disabled><span
                                                    class="glyphicon glyphicon-eye-open"></span></a>
                                        {% else %}

                                            {% include "evidence_upload_modal.html" %}
                                            <a data-toggle="modal" data="" href="#{{ sub['id'] }}"
                                               class="btn btn-sm btn-flat btn-success"><span
                                                    class="glyphicon glyphicon-eye-open"></span></a>
                                        {% endif %}


                                    </td>


                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>



            {% endfor %}

        </section>

    </div>

    <script>

        $(function () {
            $('.check').click(function () {
                var id = this.id.split('_')[1];
                console.log(id)
                if ($(this).is(':checked')) {
                    $('#button_' + id).removeAttr('disabled');
                    $('#button_' + id).bind('click');
                } else {
                    $('#button_' + id).attr('disabled', 'disabled');
                    $('#button_' + id).unbind('click');

                }

            });
        });
        {#$(function() {#}
        {#    $('.').click(function() {#}
        {#        if ($(this).is(':checked')) {#}
        {#            $('#id_of_your_button').attr('disabled', 'disabled');#}
        {#        } else {#}
        {#            $('#id_of_your_button').removeAttr('disabled');#}
        {#        }#}
        {#    });#}

    </script>

{% endblock %}