{% extends "base.html" %}
{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-lg-12"><h3><strong>User: </strong>{{ user }}</h3></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px">
        <div class="col-lg-10"><h3><strong>{{ number }}:</strong> {{ title }}</h3></div>
        <div class="col-lg-2 pull-right">({{ validity }} months)</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3><strong>Summary</strong></h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9"><p>{{ scope }}</p></div>
                        {% if completed == '-' and activated != '-' %}
                            <div class="col-lg-3">
                                <button class="btn btn-success pull-right">Upload Evidence</button>
                            </div>
                        {% elif activated == '-' %}
                            <div class="col-lg-3">
                                <a class="btn btn-success pull-right" role="button" href="{{ url_for('training.activate_competence') }}?c_id={{ competence }}&u_id={{ u_id }}">Activate</a>
                            </div>
                        {% else %}
                            <div class="col-lg-3">
                                <button class="btn btn-success pull-right">Reassess</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="panel body">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Assigned</th>
                                <th>Activated</th>
                                <th>Completed</th>
                                <th>Expires</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ assigned }}</td>
                                <td>{{ activated }}</td>
                                <td>{{ completed }}</td>
                                <td>{{ expires }}</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for section in section_list %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-9"><h3><strong>{{ section }}</strong></h3></div>
                            <div class="col-lg-1"><p class="pull-right">{{ section_list[section]['complete'] }} out
                                of {{ section_list[section]['total'] }}</p></div>
                            <div class="col-lg-2">
                                <div class="progress progress-striped"
                                     style="margin-bottom:0px; height:25px; background-color: #888888;">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow={{ section_list[section]['complete'] / section_list[section]['total'] * 100 }} aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="height:25px; width:{{ section_list[section]['complete'] / section_list[section]['total'] * 100 }}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Area of Competence</th>
                                <th>Status</th>
                                <th>Evidence Type</th>
                                <th>Trained By</th>
                                <th>Trained On</th>
                                <th>Assessed By</th>
                                <th>Assessed On</th>
                                <th>Evidence</th>
                                <th>Notes</th>
                                <th>Training Related Remarks</th>
                            </tr>
                            </thead>
                            <tfoot>
                            {% for sub in section_list[section]['subsections'] %}
                                <tr>
                                    <td>{{ sub['name'] }}</td>
                                    <td>{{ sub['status'] }}</td>
                                    <td>{{ sub['evidence_type'] }}</td>
                                    <td>{{ sub['trainer'] }}</td>
                                    <td>{{ sub['date_of_training'] }}</td>
                                    <td>{{ sub['assessor'] }}</td>
                                    <td>{{ sub['date_of_completion'] }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"
                                                {% if sub['date_of_completion'] == '-' %}
                                                disabled
                                                {% endif %}
                                        >View
                                        </button>
                                    </td>
                                    <td>{{ sub['notes'] }}</td>
                                    <td>{{ sub['training_comments'] }}</td>
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}