{% extends "base2.html" %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Training
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">


            <div class="row" style="margin-bottom: 30px">
                <div class="col-lg-8"><h3>{{ title }} <small class="label bg-gray">v{{ version }}</small></h3>
                    <small>{{ scope }}</small>
                </div>
                <div class="col-lg-4 pull-right" style="text-align: right"><h3><span
                        class="glyphicon glyphicon-calendar"></span> {{ validity }} months</h3></div>
            </div>

            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Available Actions</h3>

                </div>
                <div class="box-body table-responsive no-padding">
                    {% if completed == '-' and activated != '-' %}

                        <a class="btn btn-success btn-flat pull-right" role="button"
                           href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&u_id={{ u_id }}&version={{ version }}&action=evidence"><span
                                class="glyphicon glyphicon-open"></span> Upload Evidence</a>

                    {% elif activated == '-' %}

                        <a class="btn btn-success btn-flat pull-right" role="button"
                           href="{{ url_for('training.select_subsections') }}?c_id={{ competence }}&u_id={{ u_id }}&action=activate">Activate</a>

                    {% else %}

                        <button class="btn btn-success btn-flat pull-right">Reassess</button>

                    {% endif %}
                </div>
            </div>

            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>

                </div>
                <div class="box-body table-responsive no-padding">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Assigned</th>
                            <th>Activated</th>
                            <th>Completed</th>
                            <th>Expires</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ assigned }}</td>
                            <td>{{ activated }}</td>
                            <td>{{ completed }}</td>
                            <td>{{ expires }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <h3>Common Sections</h3>
            {% for section in section_list['constant'] %}

                <div class="box box-danger" id="training">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="box-title">{{ section }}</h3>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    {% set percent = (section_list['constant'][section]['complete'] / section_list['constant'][section]['total']) *100 %}
                                    {{ section_list['constant'][section]['complete'] }} out
                                    of {{ section_list['constant'][section]['total'] }}
                                </div>
                            </div>
                            <div class="col-md-2" style="height: 20px;">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success "
                                         style="width:{{ percent }}%"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Area of Competence</th>
                                <th>Status</th>
                                <th>Declaration</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tfoot>
                            {% for sub in section_list['constant'][section]['subsections'] %}
                                <tr>

                                    <td>{{ sub['name'] }}</td>
                                    <td>{{ make_status_label(sub['status'])|safe }}</td>
                                    {% if sub['status'] != "Complete" %}
                                        <td><input type="checkbox" class="check" id="check_{{ sub['id'] }}"> I
                                            acknowledge I
                                            have read the relevant documents and are aware of the health &
                                            safety
                                            implications
                                        </td>
                                        <td>
                                            <button role="button"
                                                    onclick="location.href = '{{ url_for('training.self_complete',assess_id=sub['id']) }}'"
                                                    class="btn btn-sm btn-success" id="button_{{ sub['id'] }}"
                                                    disabled="disabled"><span
                                                    class="glyphicon glyphicon-ok"></span> Complete
                                                Section
                                        </td>
                                    {% else %}
                                        <td colspan="2">I have acknowledged that I
                                            have read the relevant documents and are aware of the health &
                                            safety
                                            implications
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>



            {% endfor %}
        <h3>Specific Sections</h3>
            {% for section in section_list['custom'] %}
                <div class="box box-success" id="training">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="box-title">{{ section }}</h3>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    {% set percent = (section_list['custom'][section]['complete'] / section_list['custom'][section]['total']) *100 %}
                                    {{ section_list['custom'][section]['complete'] }} out
                                    of {{ section_list['custom'][section]['total'] }}
                                </div>
                            </div>
                            <div class="col-md-2" style="height: 20px;">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success "
                                         style="width:{{ percent }}%"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Area of Competence</th>
                                <th>Status</th>
                                <th>Evidence Type</th>
                                <th>Trained By</th>
                                <th>Trained On</th>
                                <th>Assessed By</th>
                                <th>Assessed On</th>
                                <th>Evidence</th>

                                <th>Notes</th>
                                <th>Assessor Notes</th>
                            </tr>
                            </thead>
                            <tfoot>
                            {% for sub in section_list['custom'][section]['subsections'] %}
                                <tr>
                                    <td>{{ sub['name'] }}</td>
                                    <td>{{ make_status_label(sub['status'])|safe }}</td>
                                    <td>{{ sub['evidence_type'] }}</td>
                                    <td>{{ sub['trainer'] }}</td>
                                    <td>{{ sub['date_of_training'] }}</td>
                                    <td>{{ sub['assessor'] }}</td>
                                    <td>{{ sub['date_of_completion'] }}</td>
                                    <td>

                                        {% if sub['evidence'] == '-' %}
                                            <a class="btn btn-sm btn-default" disabled><span
                                                    class="glyphicon glyphicon-eye-open"></span></a>
                                        {% else %}

                                            {% include "evidence_upload_modal.html" %}
                                            <a data-toggle="modal" data="" href="#{{ sub['id'] }}"
                                               class="btn btn-sm btn-flat btn-success"><span
                                                    class="glyphicon glyphicon-eye-open"></span></a>
                                        {% endif %}


                                    </td>

                                    <td>{{ sub['notes'] }}</td>
                                    <td>{{ sub['training_comments'] }}</td>
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>



            {% endfor %}

    </section>

    </div>

    <script>

        $(function () {
            $('.check').click(function () {
                var id = this.id.split('_')[1];
                console.log(id)
                if ($(this).is(':checked')) {
                    $('#button_' + id).removeAttr('disabled');
                    $('#button_' + id).bind('click');
                } else {
                    $('#button_' + id).attr('disabled', 'disabled');
                    $('#button_' + id).unbind('click');

                }

            });
        });
        {#$(function() {#}
        {#    $('.').click(function() {#}
        {#        if ($(this).is(':checked')) {#}
        {#            $('#id_of_your_button').attr('disabled', 'disabled');#}
        {#        } else {#}
        {#            $('#id_of_your_button').removeAttr('disabled');#}
        {#        }#}
        {#    });#}

    </script>

{% endblock %}