<div class="modal" id="{{ sub['id'] }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><strong>Evidence Summary: </strong>{{ sub['name'] }}</h4>
            </div>
            <div class="modal-body">

                {% for i in sub['evidence'] %}
                    {% if i.evidence_id_rel.evidence_type_rel.type == "Upload" or i.evidence_id_rel.evidence_type_rel.type == "Completed competence panel" %}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% if i.evidence_id_rel.is_correct == 1 %}
                                        <i class="fa fa-thumbs-up text-green"></i>
                                    {% elif i.evidence_id_rel.is_correct == 0 %}
                                        <i class="fa fa-thumbs-down text-red"></i>
                                    {% else %}
                                        <i class="fa fa-check-square-o text-gray"></i>
                                    {% endif %}
                                    Uploaded Evidence
                                </h3><span
                                    class="h3 box-title pull-right">{{ i.evidence_id_rel.date_completed.strftime('%d-%m-%Y') }}</span>
                            </div>
                            <div class="box-body">
                                <p>Files will either open in your browser or be downloaded </p>
                                <table class="table table-striped">
                                    <thead>
                                    <th>Filename</th>
                                    <th>Date Uploaded</th>
                                    </thead>

                                    {% for u in get_uploads(i.evidence_id_rel.id) %}
                                        <tr>
                                            <td>
                                                <a href="{{ url_for('training.download',filename=u.uuid,alias=u.filename) }}">{{ u.filename }}</a>
                                            </td>
                                            <td>{{ u.date_uploaded }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {% if i.evidence_id_rel.comments %}
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <blockquote class="blockquote text-right">
                                                    <p class="mb-0">{{ i.evidence_id_rel.comments }}</p>
                                                    <footer class="blockquote-footer">{{ sub["assessor"] }}</footer>
                                                </blockquote>
                                            </td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    {% elif i.evidence_id_rel.evidence_type_rel.type == "Case" %}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% if i.evidence_id_rel.is_correct == 1 %}
                                        <i class="fa fa-thumbs-up text-green"></i>
                                    {% elif i.evidence_id_rel.is_correct == 0 %}
                                        <i class="fa fa-thumbs-down text-red"></i>
                                    {% else %}
                                        <i class="fa fa-check-square-o text-gray"></i>
                                    {% endif %}
                                    Case Based Evidence
                                </h3><span
                                    class="h3 box-title pull-right">{{ i.evidence_id_rel.date_completed.strftime('%d-%m-%Y') }}</span>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Case</td>
                                        <td>{{ i.evidence_id_rel.evidence }}</td>
                                    </tr>
                                    <tr>
                                        <td>Result</td>
                                        <td>{{ i.evidence_id_rel.result }}</td>
                                    </tr>
                                    {% if i.evidence_id_rel.comments %}
                                        <tr>
                                            <td>Comments</td>
                                            <td>{{ i.evidence_id_rel.comments }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    {% elif i.evidence_id_rel.evidence_type_rel.type == "Observation" %}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% if i.evidence_id_rel.is_correct == 1 %}
                                        <i class="fa fa-thumbs-up text-green"></i>
                                    {% elif i.evidence_id_rel.is_correct == 0 %}
                                        <i class="fa fa-thumbs-down text-red"></i>
                                    {% else %}
                                        <i class="fa fa-check-square-o text-gray"></i>
                                    {% endif %}
                                    Observation Evidence
                                </h3><span
                                    class="h3 box-title pull-right">{{ i.evidence_id_rel.date_completed.strftime('%d-%m-%Y') }}</span>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <tr>
                                        <td colspan="2"><b>Evidence Submitted by User:</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ i.evidence_id_rel.evidence }}</td>
                                    </tr>
                                    {% if i.evidence_id_rel.comments %}
                                        <tr>
                                            <td colspan="2"><b>Comments from : {{ sub["assessor"] }}</b></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">{{ i.evidence_id_rel.comments }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    {% elif i.evidence_id_rel.evidence_type_rel.type == "Discussion" %}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% if i.evidence_id_rel.is_correct == 1 %}
                                        <i class="fa fa-thumbs-up text-green"></i>
                                    {% elif i.evidence_id_rel.is_correct == 0 %}
                                        <i class="fa fa-thumbs-down text-red"></i>
                                    {% else %}
                                        <i class="fa fa-check-square-o text-gray"></i>
                                    {% endif %}
                                    Discussion Evidence
                                </h3><span
                                    class="h3 box-title pull-right">{{ i.evidence_id_rel.date_completed.strftime('%d-%m-%Y') }}</span>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2"><b>Evidence Submitted by User:</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ i.evidence_id_rel.evidence }}</td>
                                    </tr>
                                    {% if i.evidence_id_rel.comments %}
                                        <tr>
                                            <td colspan="2"><b>Comments from : {{ sub["assessor"] }}</b></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">{{ i.evidence_id_rel.comments }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    {% elif i.evidence_id_rel.evidence_type_rel.type == "Inactivation Request" %}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% if i.evidence_id_rel.is_correct == 1 %}
                                        <i class="fa fa-thumbs-up text-green"></i>
                                    {% elif i.evidence_id_rel.is_correct == 0 %}
                                        <i class="fa fa-thumbs-down text-red"></i>
                                    {% else %}
                                        <i class="fa fa-check-square-o text-gray"></i>
                                    {% endif %}
                                    Inactivation Request Evidence
                                </h3>
                                {% if i.evidence_id_rel.date_completed %}
                                    <span class="h3 box-title pull-right">{{ i.evidence_id_rel.date_completed.strftime('%d-%m-%Y') }}</span>
                                {% endif %}
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2"><b>Evidence Submitted by User:</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ i.evidence_id_rel.evidence }}</td>
                                    </tr>
                                    {% if i.evidence_id_rel.comments %}
                                        <tr>
                                            <td colspan="2"><b>Comments from : {{ sub["assessor"] }}</b></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">{{ i.evidence_id_rel.comments }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
