{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12"><h3><strong>User: </strong>{{ user }}</h3></div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px">
        <div class="col-lg-10"><h3><strong>{{ number }}:</strong> {{ title }}</h3></div>
        <div class="col-lg-2 pull-right">({{ validity }} months)</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4><strong>Upload Evidence</strong></h4></div>
        <div class="panel-body">
            <div class="row">
                        <div class="col-lg-9"><p>Please select the evidence type </p></div>
            </div>

            <div id="evidence-submission"></div>
        </div>
    </div>
    </div>

{% endblock %}