{% extends "base2.html" %}
{% block content %}

    <section>
        <h1>Add Evidence<small></small></h1>
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
    </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <h3><strong>Competence:</strong> {{ title }}</h3>

            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Sub-Sections</h3>

                </div>
                <div class="box-body">
                    <ul>
                        {% for ass in s_names %}
                            <li>{{ ass.ss_id_rel.name }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Evidence details</h3>

                </div>
                <div class="box-body">


                    <form action="{{ url_for('training.process_evidence') }}?s_ids={{ s_ids|join(',') }}&c_id={{ c_id }}&version={{ version }}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <fieldset>

                            <div class="form-group">
                                {{ form.evidence_type.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">{{ form.evidence_type(class_="form-control ") }}</div>
                            </div>

                            <div class="form-group type" id="Upload" hidden="hidden">
                                {{ form.file.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">{{ form.file(class_="form-control",multiple="") }}</div>
                            </div>

                            <div class="form-group type" id="CompetencePanel" hidden="hidden">
                                {{ form.file.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">{{ form.file(class_="form-control",multiple="") }}</div>
                            </div>

                            <div id="Case" class="type" hidden="hidden">
                                <div id="dup">
                                    <div class="form-group">
                                        {{ form.case.label(class_="col-lg-3 control-label") }}
                                        <div class="col-lg-9">{{ form.case(class_="form-control") }}</div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.result.label(class_="col-lg-3 control-label") }}
                                        <div class="col-lg-9">{{ form.result(class_="form-control") }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <a href="#" id="add" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-plus-sign"></span> Add Case</a><span
                                            class="help-block"><strong>Add as many as required.</strong></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group type" id="Discussion" hidden="hidden">
                                {{ form.evidence_discussion.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">{{ form.evidence_discussion(class_="form-control",multiple="") }}</div>
                            </div>

                            <div class="form-group type" id="Observation" hidden="hidden">
                                {{ form.evidence_observation.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">{{ form.evidence_observation(class_="form-control",multiple="") }}</div>
                            </div>

                            <div class="form-group">
                                {{ form.datecompleted.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">
                                    {{ form.datecompleted(class='datepicker form-control') }}
                                </div>
                                {{ form.hidden_tag() }}
                            </div>

                            <div class="form-group">
                                {{ form.trainer.label(class_="col-lg-3 control-label") }}

                                <div class="col-lg-9">
                                    {{ form.trainer(required="required",class_="form-control") }}
                                    <span class="help-block"><strong>Your administrator decides who can be listed here.</strong></span>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.datetrained.label(class_="col-lg-3 control-label") }}
                                <div class="col-lg-9">
                                    {{ form.datetrained(class='datepicker form-control') }}
                                </div>
                                {{ form.hidden_tag() }}
                            </div>

                            <div class="form-group">
                                {{ form.assessor.label(class_="col-lg-3 control-label") }}

                                <div class="col-lg-9">
                                    {{ form.assessor(required="required",class_="form-control") }}
                                    <span class="help-block"><strong>Your administrator decides who can be listed here.</strong></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    {{ form.submit(class_="btn btn-primary btn-flat") }}
                                </div>
                            </div>

                        </fieldset>
                    </form>

                    <div id="evidence-submission"></div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $(function () {
            $('#evidence_type').change(function () {
                $('.type').hide();
                var option = $("option:selected", this).text();
                if (option.includes("Completed competence panel")) {
                    console.log('#CompetencePanel');
                    $('#CompetencePanel').show();
                } else {
                    console.log('#' + option);
                    $('#' + option).show();
                }
            });
        });
        $(function () {
            $('#add').click(function () {
                var content = $('#dup').html();
                $('#Case').append(content);
            });
        });
    </script>

{% endblock %}