@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #999999 !important;
}

.blink {
    animation: blinker 1s linear 3;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

.ui-autocomplete {

    z-index: 2000 !important;

    padding: 4px 4px;
    position: absolute;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
    /*-webkit-background-clip: padding-box;*/
    /*-moz-background-clip: padding;*/
    /*background-clip: padding-box;*/
    /**border-right-width: 2px;*/
    /**border-bottom-width: 2px;*/
}

/*.ui-menu-item > a.ui-corner-all {*/
/*display: block;*/
/*padding: 3px 15px;*/
/*clear: both;*/
/*font-weight: normal;*/
/*line-height: 18px;*/
/*color: #555555;*/
/*white-space: nowrap;*/
/*text-decoration: none;*/
/*}*/

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
