{% extends "base.html" %}
{% block content %}


<div class="page-header">
<h1>Add Competency Sections</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <form action="{{ url_for('competence.add_sections') }}" method="POST" class="form-horizontal">
            <legend>Competence: </legend>
            <div class="well bs-component">
                <legend>Health & Safety</legend>
                <div class="form-group">
                    {{ form.h_and_s.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        {{ form.h_and_s(class_="form-control") }}
                    </div>
                </div>


                <div class="form-group">
                    {{ form.add_h_and_s.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        <div class="input-group">
                            {{ form.add_h_and_s(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary"
                                                                          type="button">Update</button></span>
                        </div>
                        <span class="help-block">Please enter a new hazard</span>
                    </div>
                </div>
            </div>
            <div class="well bs-component">
                <legend>Reagent Handling</legend>
                <div class="form-group">
                    {{ form.reagent_handling.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        {{ form.reagent_handling(class_="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.add_reagent.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        <div class="input-group">
                            {{ form.add_reagent(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary"
                                                                          type="button">Update</button></span>
                        </div>
                        <span class="help-block">Please enter a relevant reagent handling or storage item</span>
                    </div>
                </div>
            </div>
            <div class="well bs-component">
                <legend>COSHH</legend>
                <div class="form-group">
                    {{ form.coshh.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        {{ form.coshh(class_="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.add_coshh.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                        <div class="input-group">
                            {{ form.add_coshh(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary"
                                                                          type="button">Update</button></span>
                        </div>
                        <span class="help-block">Please enter a new COSHH item</span>
                    </div>
                </div>
            </div>

            <div class="well bs-component">
                <legend>Custom Sections</legend>
            <div class="form-group">
                {{ form.choose_section.label(class_="col-lg-2 control-label") }}
                <div class="col-lg-4">
                    <div class="input-group">
                        {{ form.choose_section(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary" id="add_section"
                                                                          type="button">Add</button></span>
                    </div>
                </div>
            </div>
            </div>
            <div id="section_list"></div>


            <script>

                $(document).on('click', '#add_section', function () {
                    var section = $('#choose_section option:selected');
                    var text = $(section).text();
                    var val = $(section).val();
                    var c_id = 1;
                    console.log(section);

                    var url = "{{ url_for('competence.get_section') }}";
                    var dict = {'text': text, 'val': val, 'c_id': c_id};
                    var data = JSON.stringify(dict);

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            console.log(response);
                            $('#section_list').append(response);
                        },
                        error: function (xhr, status, error) {
                            $('#trace').append("<p>" + error + "</p>");
                            $('#ajaxModal').modal('show');
                            return false;
                        }

                    });


                });


            </script>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>


            </fieldset>
        </form>
    </div>
</div>

{% endblock %}