{% extends "base2.html" %}
{% block content %}


<section>
    <h1><i class="fa fa-fw fa-paper-plane-o"></i> Reports By Section</h1>
    <small></small>

    {% if message %}
        <div class="alert alert-danger">
            <strong>Fail Whale!</strong> {{ message }}
        </div>
    {% endif %}

</section>

<!-- Main content -->
<section class="content container-fluid">
    <h3>Expired Assessments</h3>
<!-- Main content -->
    <section class="content container-fluid">
    <h3>Trends: % Expired Competencies</h3>
        <div class="box-body" style="height:300px; width:80%; background-color: white">
            <canvas id="expiredlinegraph"></canvas>
        </div>

    </section>
    <section class="content container-fluid">
    <h3>Trends: Number of Completed Competencies</h3>
        <div class="box-body" style="height:300px; width:80%; background-color: white">
            <canvas id="completedlinegraph"></canvas>
        </div>

    </section>


<section class="content container-fluid">
    <h3>Current Expired Assessments</h3>

    <div class="row">
        <div class="col-md-9">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    {% for service in expired %}
                        {% if loop.index == 1 %}
                            <li class="active">
                        {% else %}
                            <li class="">
                        {% endif %}

                    <a href="#{{ service }}_expired" data-toggle="tab" aria-expanded="true">{{ service }}</a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="tab-content">
                    {% for service in expired %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane active" id="{{ service }}_expired">
                        {% else %}
                            <div class="tab-pane" id="{{ service }}_expired">
                        {% endif %}
                    <table class="table table-striped table-condensed  dataTable dt-responsive expired"
                           width="70%">
                        <thead>
                        <th>User</th>
                        <th>Competence</th>
                        <th>Earliest Expiry Date</th>
                        </thead>
                        {% for user in expired[service] %}
                            {% for competence in expired[service][user] %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ competence }}</td>
                                <td>{{ expired[service][user][competence] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    </div>
                    {% endfor %}

                    </div>
                </div>
            </div>

        </div>


        <h3>Current Expiring Assessments</h3>

        <div class="row">
            <div class="col-md-9">
                <!-- Custom Tab -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {% for service in expiring %}
                            {% if loop.index == 1 %}
                                <li class="active">
                            {% else %}
                                <li class="">
                            {% endif %}

                        <a href="#{{ service }}_expiring" data-toggle="tab"
                           aria-expanded="true">{{ service }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="tab-content">
                        {% for service in expiring %}
                            {% if loop.index == 1 %}
                                <div class="tab-pane active" id="{{ service }}_expiring">
                            {% else %}
                                <div class="tab-pane" id="{{ service }}_expiring">
                            {% endif %}
                        <table class="table table-striped table-condensed  dataTable dt-responsive expiring"
                               width="70%">
                            <thead>
                            <th>User</th>
                            <th>Competence</th>
                            <th>Earliest Expiry Date</th>
                            </thead>
                            {% for user in expiring[service] %}
                                {% for competence in expiring[service][user] %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ competence }}</td>
                                    <td>{{ expiring[service][user][competence] }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                        </div>
                        {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>






<script src="/static/bower_components/chart.js/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.esm.js" integrity="sha512-iPOvgg5RoL9rL/XjfFdBqjAlStti+ik8BmLYu12vwlD5jgCCdw7R8kI9mtHU7fMUSaRwG+w56i0xrAm/tnVj7w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js" integrity="sha512-opXrgVcTHsEVdBUZqTPlW9S8+99hNbaHmXtAdXXc61OUU6gOII5ku/PzZFqexHXc3hnK8IrJKHo+T7O4GRIJcw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/helpers.esm.js" integrity="sha512-VzhPhsLWGZ8kBPi9bHEcIVPOryxNlYq0iPPKUO8gb1sXi8wYGBi4LWx+c8nN/CofeKjSDXWDDtNsABXV6Q3Jfg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/helpers.esm.min.js" integrity="sha512-4OeC7P+qUXB7Kpyeu1r5Y209JLXfCkwGKDpk8vnXzeNGMnpTr6hzOz2lMm7h0oxRBVu2ZCPRkCBPMmIlWsbaHg==" crossorigin="anonymous"></script>


     var expired = $('.expired').DataTable({
            "pageLength": 10,
            "ordering": true,
            "order": [[0, "asc"], [1, "asc"]]
        });

                    ]

      var expiring = $('.expiring').DataTable({
        "pageLength": 10,
        "ordering": true,
        "order": [[0, "asc"], [1, "asc"]]
    });
 </script>

<script>
var ctx = document.getElementById('expiredlinegraph').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['May20','Jun20', 'Jul20', 'Aug20', 'Sep20', 'Oct20', 'Nov20', 'Dec20', 'Jan21', 'Feb21', 'Mar21', 'Apr21'],
        datasets: [{
                label: 'Oncology',
                data: [12, 14, 16, 25, 24, 18, 15, 14, 12, 10, 11, 13],
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)'
            },
            {
                label: 'Rare Disease',
                data: [10, 9, 11, 10, 10, 14, 15, 16, 13, 14, 10, 9],
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)'
            },
            {
                label: 'Lab Services',
                data: [20, 24, 21, 25, 25, 29,30, 31, 27, 26, 25, 26],
                borderColor: 'rgba(255, 159, 64, 1)',
                backgroundColor: 'rgba(255, 159, 64, 0.2)'
            },
            {
                borderDash:[5,5],
                data: [20,20,20,20,20,20,20,20,20,20,20,20],
                borderColor: 'rgba(0,0,0,0.3)',
                label: "Target = <20%",
                radius: 0
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

<script>
var ctx = document.getElementById('completedlinegraph').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['May20','Jun20', 'Jul20', 'Aug20', 'Sep20', 'Oct20', 'Nov20', 'Dec20', 'Jan21', 'Feb21', 'Mar21', 'Apr21'],
        datasets: [{
                label: 'Oncology',
                data: [10,13,14,10,20,46,53,45,30,25,20,18],
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)'
            },
            {
                label: 'Rare Disease',
                data: [29,34,26,36,37,30,20,19,20,35,52,40],
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)'
            },
            {
                label: 'Lab Services',
                data: [10,12,15,14,13,16,9,13,15,13,7,9],
                borderColor: 'rgba(255, 159, 64, 1)',
                backgroundColor: 'rgba(255, 159, 64, 0.2)'
            }

        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    },

});

</script>

{% endblock %}