{% extends "base2.html" %}
{% block content %}








            <h1><i class="fa fa-edit"></i> Edit Competency</h1>

            <small></small>
            </h1>
            {#            <ol class="breadcrumb">#}
            {#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#                <li class="active">Here</li>#}
            {#            </ol>#}
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}


        </section>


        <!-- Main content -->
        <section class="content container-fluid">

            <!-- If competence is live warn that it will create a new version -->
            <div class="row">
                <div class="col-md-12">
                    {% if live %}
                        <div class="callout callout-danger">
                            <h4>This competence is live!</h4>

                            <p>This is OK, but editing this page will create a new version of the competence. It won't
                                be made
                                live until you send for approval and it is approved and users who are competent on the
                                old version will still be
                                so.</p>
                        </div>
                    {% else %}
                        <div class="callout callout-success">
                            <h4>This competence is not live!</h4>

                            <p>This competence has never been made live so you can edit freely.</p>
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <button class="pull-right btn btn-warning btn-flat approval" id="approval_{{ detail_id }}">
                                <i class="fa fa-thumbs-up"></i> Send
                                For
                                Approval
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Basic Details</h3>

                        </div>
                        <div class="box-body">

                            <form id="details" class="form-horizontal">
                                <fieldset>


                                    <div class="form-group">
                                        {{ form.edit_title.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_title(required="required",class_="form-control change") }}

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_scope.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_scope(required="required",class_="form-control change") }}
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_competency_type.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_competency_type(required="required",class_="form-control change") }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form.approval.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.approval(required="required",class_="form-control change") }}
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_validity_period.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">

                                            {{ form.edit_validity_period(required="required",class_="form-control change") }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-10">

                                            <a href="#" class="btn btn-flat btn-primary" id="save_details"><i
                                                    class="fa fa-save"></i> <span id="save_details_text">Save These Details</span></a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    {% if config.QPULSE_MODULE == True %}
                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Associated Documents</h3>

                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                {{ form.add_document.label(class_="col-lg-2 control-label") }}
                                <div class="col-lg-10">
                                    <div class="input-group" id="add_document_group">
                                        {{ form.add_document(class_="form-control") }}

                                        <span class="input-group-btn"><button class="btn btn-primary btn-flat"
                                                                              id="submit_document"
                                                                              type="button">Attach</button></span>

                                    </div>
                                    <span class="help-block"
                                          id="add_document_text">Please enter a Q-Pulse Document ID</span>
                                    <div id="invalid_qpulse"></div>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" id="qpulse_error" hidden>This is not a valid
                                QPulse Document! Please try again.
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <div id="selected_docs"></div>
                                </div>
                            </div>

                            <input type="text" id="doc_list" name="doc_list" hidden>
                        </div>
                    </div>
                {% endif %}

                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Constant Sections</h3>

                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <div class="input-group">
                                    {{ section_form.choose_constant_section(class_="form-control name") }}
                                    <span class="input-group-btn"><button class="btn btn-flat btn-primary "
                                                                          id="add_new_constant_section">Add
                                        Constant Section
                                    </button></span>
                                </div>
                            </div>

                            <form action="{{ url_for('competence.edit_competence') }}?c_id={{ c_id }}"
                                  method="POST">
                                <div id="constant_sections">
                                    <fieldset>
                                        {% for section in subsections["constant"] %}
                                            <h4 class="text-blue"><i
                                                    class="fa fa-fw fa-check-square-o"></i>{{ section[0] }}

                                                <button type="button" data-id="{{ section[1] }}"
                                                        data-title="{{ section[0] }}"
                                                        class="btn btn-xs btn-flat btn-primary pull-right constant_form_show">
                                                    Add
                                                    Constant Subsection
                                                </button>

                                            </h4>
                                            <div id="constant_subsections_list_{{ section[1] }}">
                                                {% for subsection in subsections["constant"][section] %}
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" name="{{ subsection.id }}"
                                                                   id="{{ subsection.id }}"
                                                                   value="{{ subsection.name }}" class="form-control"
                                                                   disabled>
                                                            <span class="input-group-btn">
                                                  <button type="button" data-toggle="tooltip" title="Remove Subsection"
                                                          id="subsection_{{ subsection.id }}"
                                                          class="btn btn-flat btn-danger remove"><i
                                                          class="fa fa-remove"></i> </button>
                                                </span>
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>

                                        {% endfor %}
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Custom Sections</h3><br>
                            <small>The sections and subsections can be re-ordered by clicking and dragging.</small>

                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <div class="input-group">
                                    {{ section_form.choose_section(class_="form-control name") }}
                                    <span class="input-group-btn"><button class="btn btn-flat btn-primary "
                                                                          id="add_new_section">Add
                                        Section
                                    </button></span>
                                </div>
                            </div>
                            <form action="{{ url_for('competence.edit_competence') }}?c_id={{ c_id }}"
                                  method="POST">
                                <div id="custom_sections">

                                    <table width="100%" id="sortable_section_table" cellspacing="5px"
                                           style="border-collapse:separate; border-spacing:0 20px;">
                                        {% for section in subsections["custom"] %}

                                            <tr class="sort_table" id="{{ section[0] }}">
                                            <td style="padding: 5px; margin: 5px; border: 1pt dashed darkgrey;">
                                            <h4 class="text-blue"><i
                                                    class="fa fa-fw fa-check-square-o"></i>{{ section[0] }}

                                                <button type="button" data-id="{{ section[1] }}"
                                                        data-title="{{ section[0] }}"
                                                        class="btn btn-xs btn-flat btn-primary pull-right subsection_form_show">
                                                    Add
                                                    Subsection
                                                </button>

                                            </h4>
                                            <div id="subsections_list_{{ section[1] }}">
                                                <table width="100%" id="sortable_table_{{ section[1] }}"
                                                       cellspacing="1px">
                                                    {% for subsection in subsections["custom"][section] %}
                                                        <tr class="sort" id="{{ subsection.id }}">
                                                            <td style="display:inline; padding: 0px; margin: px; ">
                                                                <div class="form-group ">
                                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                             <button type="button"
                                                                     id="subsection_move_{{ subsection.id }}"
                                                                     class="btn btn-flat btn-success"><i
                                                                     class="fa fa-arrows-v"></i> </button>
                                                            </span>
                                                                        <input type="text" name="{{ subsection.id }}"
                                                                               id="{{ subsection.id }}"
                                                                               value="{{ subsection.name }}"
                                                                               class="form-control"
                                                                               disabled>

                                                                        <span class="input-group-btn">
                                                  <button type="button" data-toggle="tooltip" title="Remove Subsection"
                                                          id="subsection_{{ subsection.id }}"
                                                          class="btn btn-flat btn-danger remove"><i
                                                          class="fa fa-remove"></i> </button>
                                                </span>

                                                                    </div>
                                                                </div>
                                                                <script>


                                                                    $(function () {
                                                                        $('#sortable_table_{{ section[1] }}').sortable({

                                                                            start: function (event, ui) {
                                                                                ui.item.startPos = ui.item.index();
                                                                                ui.placeholder.height(ui.item.height());
                                                                            },
                                                                            stop: function (event, ui) {
                                                                                console.log("Start position: " + ui.item.startPos);
                                                                                console.log("New position: " + ui.item.index());
                                                                                data = get_order('#sortable_table_{{ section[1] }}')

                                                                                $.ajax({
                                                                                    type: "POST",
                                                                                    url: "{{ url_for('competence.change_subsection_order') }}",
                                                                                    data: JSON.stringify(data, null, '\t'),
                                                                                    contentType: 'application/json;charset=UTF-8',
                                                                                    success: function (result) {
                                                                                        console.log(result);
                                                                                    }
                                                                                })

                                                                                {#var children = $('#sortable_table_{{ section[1] }}').sortable('refreshPositions').children();#}
                                                                                {##}
                                                                                {#console.log('Positions: ');#}
                                                                                {#//Loopp through each item in the children array and print out the text.#}
                                                                                {#$.each(children, function () {#}
                                                                                {#    console.log($(this).id);#}

                                                                            },

                                                                            items:
                                                                                ".sort",
                                                                            handle:
                                                                                'button',
                                                                            cursor:
                                                                                'move',
                                                                            cancel:
                                                                                '',
                                                                            placeholder:
                                                                                'ui-state-highlight',
                                                                            over:

                                                                                function (event, ui) {
                                                                                    var cl = ui.item.attr('class');
                                                                                    console.log(cl)
                                                                                    $('.ui-state-highlight').addClass(cl);
                                                                                }
                                                                        });
                                                                    });</script>
                                                            </td>
                                                        </tr>


                                                    {% endfor %}
                                                </table>


                                            </div>



                                            <script>


                                                function get_order(id) {
                                                    var sortedIDs = $(id).sortable("toArray");
                                                    console.log(sortedIDs)
                                                    return sortedIDs
                                                }

                                                $(function () {
                                                    $('#sortable_section_table').sortable({


                                                        start: function (event, ui) {
                                                            ui.item.startPos = ui.item.index();
                                                            ui.placeholder.height(ui.item.height());
                                                        },
                                                        stop: function (event, ui) {
                                                            console.log("Start position: " + ui.item.startPos);
                                                            console.log("New position: " + ui.item.index());
                                                            get_order('#sortable_section_table')

                                                            data = {
                                                            {{ c_id }}:
                                                            get_order('#sortable_section_table')
                                                        }
                                                            console.log(data)
                                                            $.ajax({
                                                                type: "POST",
                                                                url: "{{ url_for('competence.change_section_order') }}",
                                                                data: JSON.stringify(data, null, '\t'),
                                                                contentType: 'application/json;charset=UTF-8',
                                                                success: function (result) {
                                                                    console.log(result);
                                                                }
                                                            })
                                                        },


                                                        cursor: 'move',
                                                        tolerance: 'pointer',
                                                        revert: 50,
                                                        refreshPositions: true,

                                                        items: ".sort_table",
                                                        placeholder: 'ui-state-highlight',
                                                        over: function (event, ui) {
                                                            var cl = ui.item.attr('class');
                                                            console.log(cl)
                                                            $('.ui-state-highlight').addClass(cl);
                                                        }

                                                    });
                                                });


                                                $("#sortable_section_table").sortable({});

                                                {#var $sortableList = $("#sortable_section_table");#}
                                                {##}
                                                {#var sortEventHandler = function (event, ui) {#}
                                                {#    console.log("New sort order!");#}
                                                {##}
                                                {#    $sortableList.on("sortchange", sortEventHandler);#}
                                                {#    var arr = [];#}
                                                {#    $("#sortable_section_table > tbody > tr").each(function () {#}
                                                {#        arr.push(this.id);#}
                                                {#    });#}
                                                {##}
                                                {#    console.log(arr);#}
                                                {##}
                                                {##}

                                                // You can also set the event handler on an already existing Sortable widget this way:


                                            </script>

                                        {% endfor %}
                                        </td></tr>

                                    </table>

                                </div>
                            </form>

                        </div>
                    </div>


                </div>

            </div>

        </section>
    </div>



    <div class="modal fade ui-front" id="subsection_form" class="subsection" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Adding Subsections for <span id="title"></span></h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">


                        <div class="form-group">
                            {{ subsection_form.name.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.name(class_="form-control name",required="required") }}
                                <span class="help-block" id="required">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ subsection_form.evidence.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.evidence(class_="form-control evidence",required="required") }}
                                <span class="help-block" id="required">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ subsection_form.comments.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.comments(class_="form-control comments") }}

                            </div>
                        </div>

                        <input name="section_id" id="section_id" type="hidden">


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-flat pull-left" id="submit_subsection"
                                type="button">Add Subsection
                        </button>
                        <button type="button" class="btn btn-default btn-flat pull-right" data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade ui-front" id="constant_form" class="subsection" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Adding Constant Subsections for <span id="constant_title"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-2 control-label">Choose Subsection</div>
                        <div class="col-lg-10">

                            <select class="form-control" name="contsant_subsections"
                                    id="constant_subsections">


                            </select>
                            <span class="help-block">If you want to add more click <a
                                    href="{{ url_for('admin.constant_subsections') }}">here</a></span>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <input name="constant_id" id="constant_id" type="hidden">
                    <button class="btn btn-primary btn-flat pull-left" id="submit_constant"
                            type="button">Add Subsection
                    </button>
                    <button type="button" class="btn btn-default btn-flat pull-right" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




    <script>
        $(function () {
            $('#sortable_form').sortable({
                stop: function (e, ui) {
                    if (ui.item.hasClass("id_2")) {
                        alert('id 2');
                        e.preventDefault();
                    }
                },
                items: ".sort",
                handle: 'button',
                cancel: ''
            });
        });
        {#    $(function () {#}
        {#        $("#sortable").sortable({ handle: 'button',#}
        {#cancel: ''});#}
        {#        $("#sortable").disableSelection();#}
        {##}
        {#    });#}

        $('.approval').click(function () {
            id = $(this).attr('id')
            console.log(id)
            $.ajax({
                url: '{{ url_for("competence.send_for_approval") }}?id=' + id.replace('approval_', ''),
                success: function (response) {
                    window.location.replace('{{ url_for('home') }}');
                },
            });
        });
        $("#submit_constant").click(function (e) {
            e.preventDefault();
            var id = id = $("#constant_subsections").val();
            var s_id = parseInt($("#constant_id").val());
            var dict = {
                'name': $("#constant_subsections option:selected").text(),
                'id': id,
                'c_id':{{ c_id }},
                's_id': s_id,
                'version': {{ version }}
            }

            var data = JSON.stringify(dict);
            console.log(dict)

            $.ajax({
                type: "POST",
                url: "{{ url_for('competence.add_constant_sections_to_db') }}",
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {

                    $('#constant_subsections_list_' + s_id).append('<div class="form-group">\
                                                        <div class="input-group">\
                                                            <input type="text" name="' + id + '"\
                                                                id="' + id + '"\
                                                                value="' + dict["name"] + '" class="form-control" disabled>\
                                                            <span class="input-group-btn">\
                                                                <button type="button" data-toggle="tooltip" title="Remove Subsection"\
                                                                    id="subsection_' + id + '"\
                                                                    class="btn btn-flat btn-danger remove">\
                                                                    <i class="fa fa-remove"></i>\
                                                                </button>\
                                                            </span>\
                                                        </div>\
                                                    </div>')

                }
            });

        });


        $(document).on('click', '.constant_form_show', function () {
            var id = $(this).data('id')
            $('#constant_form').modal('show');
            $('#constant_title').html($(this).data('title'));
            $('#constant_id').val(id);
            $('#constant_subsections').empty();

            $.ajax({
                type: "POST",
                url: "{{ url_for('competence.get_constant_subsections_web') }}?id=" + id,
                dataType: "json",
                contentType: "application/json",

                success: function (response) {
                    console.log(response)
                    var data = response["response"]
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i])
                        $('#constant_subsections').append($('<option>', {
                            value: data[i]['id'],
                            text: data[i]['name']
                        }));
                    }
                }
            });

        });
        $(document).on('click', '#add_new_section', function () {
            var id = $('#choose_section').val();
            var title = $('#choose_section option:selected').text();

            $('#sortable_section_table').append('<tr class="sort_table" id="' + title + '">\
                                            <td style="padding: 5px; margin: 5px; border: 1pt dashed darkgrey;">\
                                            <h4 class="text-blue"><i class="fa fa-fw fa-check-square-o"></i>' + title + '\
                                                <button type="button" data-id="' + id + '" data-title="' + title + '" class="btn btn-xs btn-flat btn-primary pull-right subsection_form_show">Add Subsection</button>\
                                            </h4><table width="100%" id="sortable_table_' + id + '" cellspacing="1px"></table>');


            {#$('#custom_sections').append('<h4 class="text-blue"><i class="fa fa-fw fa-check-square-o"></i>' + title + '\#}
            {#                                <button type="button" data-id="' + id + '"\#}
            {#                                        data-title="' + title + '"\#}
            {#                                        class="btn btn-xs btn-flat btn-primary pull-right subsection_form_show">Add\#}
            {#                                    Subsection\#}
            {#                                </button>\#}
            {#                            </h4>\#}
            {#                            <div id="subsections_list_' + id + '">\#}
            {#                                    </div>');#}
        })

        $(document).on('click', '#add_new_constant_section', function () {
            var id = $('#choose_constant_section').val();
            var title = $('#choose_constant_section option:selected').text();


            $('#constant_sections').append('<h4 class="text-blue"><i class="fa fa-fw fa-check-square-o"></i>' + title + '\
                                            <button type="button" data-id="' + id + '"\
                                                    data-title="' + title + '"\
                                                    class="btn btn-xs btn-flat btn-primary pull-right constant_form_show">Add\
                                                Constant Subsection\
                                            </button>\
                                        </h4>\
                                        <div id="constant_subsections_list_' + id + '">\
                                                </div>');
        })

        $(document).on('click', '.subsection_form_show', function () {
            //shows subsection form modal
            console.log("hello");
            $('#subsection_form').modal('show');
            $('#title').html($(this).data('title'));
            $('#section_id').val($(this).data('id'));
        })
        //adds subsection to database
        $("#submit_subsection{{ val }}").click(function (e) {

            if ($(this).closest('form')[0].checkValidity()) {
                e.preventDefault();


                var dict = {
                    'name': $("#name").val(),
                    'evidence_id': $("#evidence").val(),
                    'comments': $("#comments").val(),
                    'c_id':{{ c_id }},
                    's_id': parseInt($("#section_id").val()),
                    'version': {{ version }}
                };
                var data = JSON.stringify(dict);
                console.log(dict)

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('competence.add_sections_to_db') }}?plain=true",
                    data: data,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {
                        var id = response["id"]
                        console.log(response);
                        $("#name").val('');
                        $("#evidence").val('');
                        $("#comments").val('');

                        $('#sortable_table_' + parseInt($("#section_id").val())).append('<tr class="sort" >\
                                                            <td style="display:inline; padding: 0px; margin: px; ">\
                                                                <div class="form-group ">\
                                                                    <div class="input-group">\
                                                            <span class="input-group-btn">\
                                                             <button type="button" class="btn btn-flat btn-success" id="subsection_move_' + id + '"><i\
                                                                     class="fa fa-arrows-v"></i> </button>\
                                                            </span>\
                                                                        <input type="text" name="' + id + '"\
                                                                               id="' + id + '"\
                                                                               value="' + dict["name"] + '"\
                                                                               class="form-control"\
                                                                               disabled>\
                                                                        <span class="input-group-btn">\
                                                  <button type="button" data-toggle="tooltip" title="Remove Subsection"\
                                                          id="subsection_' + id + '"\
                                                          class="btn btn-flat btn-danger remove"><i\
                                                          class="fa fa-remove"></i> </button>\
                                                </span>\
                                                                    </div>\
                                                                </div>\
                                                            </td>\
                                                        </tr>')


                        {#$('#subsections_list_' + parseInt($("#section_id").val())).append('<div class="form-group">\#}
                        {#                                    <div class="input-group">\#}
                        {#                                        <input type="text" name="' + id + '"\#}
                        {#                                            id="' + id + '"\#}
                        {#                                            value="' + dict["name"] + '" class="form-control" disabled>\#}
                        {#                                        <span class="input-group-btn">\#}
                        {#                                            <button type="button" data-toggle="tooltip" title="Remove Subsection"\#}
                        {#                                                id="subsection_' + id + '"\#}
                        {#                                                class="btn btn-flat btn-danger remove">\#}
                        {#                                                <i class="fa fa-remove"></i>\#}
                        {#                                            </button>\#}
                        {#                                        </span>\#}
                        {#                                    </div>\#}
                        {#                                </div>')#}
                    },
                    error: function (xhr, status, error) {
                        $('#trace').append("<p>" + error + "</p>");
                        $('#ajaxModal').modal('show');
                        return false;
                    }

                });
            }
        });


        $('.change').click(function () {
            $('#save_details').html('<i class="fa fa-save"></i> Save These Details')
            $('#save_details').removeClass("btn-success")
            $('#save_details').addClass("btn-primary")
        });

        $('#save_details').click(function (e) {
            e.preventDefault();
            $('#save_details').html('<i class="fa fa-spin fa-refresh"></i> Saving....')
            setTimeout(function () {

                $.ajax({
                    type: 'post',
                    data: $('#details').serialize(),
                    url: '{{ url_for("competence.edit_details") }}?c_id={{ c_id }}&version={{ version }}',
                    success: function (response) {
                        $('#save_details').removeClass("btn-primary")
                        $('#save_details').addClass("btn-success")
                        $('#save_details').html('<i class="fa fa-save"></i> Saved!')

                        setTimeout(function () {
                            {#                            $('#save_details').html('<i class="fa fa-save"></i> Save These Details')#}
                            {#                            $('#save_details').removeClass("btn-success")#}
                            {#                            $('#save_details').addClass("btn-primary")#}

                        }, 3000);


                    },
                    error: function (error) {
                        $('#save_details').html('<i class="fa fa-exclamation-triangle"></i> Error - Try Refreshing Page');
                        $('#save_details').addClass("btn-danger")
                    },

                });
            }, 1000);

        });
        $(document).on('click', '.remove', function () {
            var remove = $(this).attr('id');
            var id = $(this).attr('id').split('_')[1];
            console.log(id)
            var url = '{{ url_for("competence.remove_subsection") }}?id=' + id + '&version={{ version }}';
            console.log(url);
            $.ajax({
                url: url,

                success: function (response) {
                    console.log("hello")
                    console.log('#' + remove)
                    $('#' + remove).remove();
                    $('#' + id).remove();
                    $('#subsection_move_' + id).remove();
                    $(".tooltip").remove();
                },

            });
        });
        $(function () {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#approval').autocomplete({
                    source: data.json_list,
                    minLength: 2

                });
            });
        });


        $(document).ready(function () {
            var data = {{ docs|safe }};
            console.log(data);
            for (i = 0; i < data.length; i++) {
                console.log(data[i][0]);
                var doc_number = data[i][0]
                var doc_name = data[i][1]
                var sep = ','
                var previous_value = $('#doc_list').val();
                $('#doc_list').val(previous_value + doc_number + sep)
                $('#selected_docs').append('<a href="#" class="btn btn-success remove btn-flat" style="margin-top: 2px;" id="remove_document" doc_number="' + doc_number + '">' + doc_number + ': ' + doc_name + ' <span class="glyphicon glyphicon-remove"></span> </a> ')
            }
            //This function checks whether the input is a valid Qpulse doc number and adds it to a list if correct, list items are displayed underneath if succesfully added
        });
        $('#submit_document').click(function () {

            $(this).html('<i class="fa fa-spin fa-refresh"></i>');

            $('#qpulse_error').hide();

            var previous_value = $('#doc_list').val();
            if (previous_value == "") {
                sep = ''
            } else {
                sep = ','
            }

            var url = "{{ url_for('competence.get_doc_name') }}";
            var doc_id = $('#add_document').val();
            console.log(doc_id);
            console.log(url);

            var dict = {'doc_id': doc_id};
            var data = JSON.stringify(dict);
            console.log(data);

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    console.log(response)

                    $('#submit_document').html('Attach');

                    if (response["response"].match(/This is not a valid QPulse Document/i)) {
                        $('#add_document_group').addClass("has-error");
                        $('#submit_document').removeClass("btn-primary");
                        $('#submit_document').addClass("btn-danger");
                        $('#add_document_text').text('Q-Pulse Document Not Found!');
                        $('#add_document_text').addClass('text-red');


                    }
                    else {
                        var url = "{{ url_for('competence.add_doc') }}?doc_number=" + doc_id + "&c_id={{ detail_id }}";
                        var previous_response = response["response"]
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (response) {
                                $('#add_document_group').removeClass("has-error");
                                $('#submit_document').addClass("btn-primary");
                                $('#submit_document').removeClass("btn-danger");
                                $('#add_document_text').text('Please enter a Q-Pulse Document ID');
                                $('#add_document_text').removeClass('text-red')

                                $('#doc_list').val(previous_value + sep + $('#add_document').val())
                                $('#selected_docs').append('<a href="#" class="btn btn-success remove btn-flat" style="margin-top: 2px;" id="remove_document" doc_number="' + $('#add_document').val() + '">' + $('#add_document').val() + ': ' + previous_response + ' <span class="glyphicon glyphicon-remove"></span> </a> ')
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    $('#trace').append("<p>" + error + "</p>");
                    $('#ajaxModal').modal('show');
                    return false;
                }
            });

        });

        //this function allows deletion of items from the document list so they can'r be added to the database
        {#        $(document).on("click", '.remove', function () {#}
        {#            console.log("HELLO");#}
        {#            var docs = $('#doc_list').val().split(',');#}
        {#            console.log(docs);#}
        {#            docs.splice($.inArray($(this).attr('doc_number'), docs), 1);#}
        {#            console.log(docs);#}
        {#            $('#doc_list').val(docs.join());#}
        {#            $(this).remove();#}
        {#        });#}

        $(document).on("click", '.remove', function (e) {
            e.preventDefault();
            var doc_number = $(this).attr("doc_number");
            var el = $(this);
            var url = "{{ url_for('competence.remove_doc') }}?doc_number=" + doc_number + "&c_id={{ detail_id }}";
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    el.remove();
                    {#                    $('#save_icon').fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500);#}
                }
            });
        });

    </script>


{% endblock %}