{% extends "base2.html" %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            {% if review %}
                <h1>View Competency</h1>
            {% else %}
                <h1>View Completed Competency</h1>
            {% endif %}
            <small></small>
            </h1>
            {#            <ol class="breadcrumb">#}
            {#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#                <li class="active">Here</li>#}
            {#            </ol>#}
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}

            <h3>{{ title }}
                <small class="label bg-gray">v{{ version }}</small>
            </h3>


        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <div class="alert alert-success" role="alert" id="competence_activated" hidden>Success! You have
                completed {{ title }}.
            </div>
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div id="selected_docs"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="btn-group pull-right">

                                {% if approved == None %}
                                    <button
                                            class="btn btn-flat btn-warning approval" id="{{ id }}"><span
                                            class="glyphicon glyphicon-thumbs-up"></span> Send
                                        for Approval
                                    </button>
                                    <a
                                            href="{{ url_for('competence.edit_competence') }}?ids={{ c_id }}&version={{ version }}"
                                            class="btn btn-flat btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                {% elif not approved %}
                                    <button class="btn btn-flat btn-primary" disabled><i class="fa fa-pencil"></i> Edit
                                    </button>
                                {% elif approved %}
                                    <a
                                            href="{{ url_for('competence.edit_competence') }}?ids={{ c_id }}&version={{ version }}"
                                            class="btn btn-flat btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                {% endif %}

                                <a
                                        href="{{ url_for('document.export_document_view') }}?c_id={{ c_id }}&version={{ version }}"
                                        class="btn btn-flat btn-default"><i class="fa fa-download"></i> Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="box box-primary" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>

                </div>
                <div class="box-body">


                    <div class="form-group">
                        <td><p><strong>Scope</strong> : {{ scope }}</p></td>
                    </div>


                    <div class="form-group">
                        <td><p><strong>Competence Type</strong> : {{ category }}</p></td>
                    </div>


                    <div class="form-group">
                        <td><p><strong>Validity Period (months)</strong> : {{ val_period }}</p></td>
                    </div>

                    <div class="form-group">
                        <td><p><strong>Approval Status</strong> : {{ get_approval_status(approved)|safe }}</p></td>
                    </div>
                </div>
            </div>
            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Associated Q-Pulse Documents</h3>

                </div>
                <div class="box-body">
                    <div class="form-group">


                        {% for doc in docs %}
                            <tr>
                                <td><p>{{ doc }} : {{ docs[doc] }}</p></td>
                            </tr>
                        {% endfor %}
                    </div>


                </div>
            </div>


            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Compulsory Sections</h3>

                </div>
                <div class="box-body">


                    {% for constant_sec_name in constants %}


                        <table class="table table-striped table-hover ">
                        <h4 class="text-blue"><i class="fa fa-fw fa-check-square-o"></i> {{ constant_sec_name }}</h4>

                        <thead>
                        <tr>
                            <th class="col-md-5">Area of Competence</th>
                            <th class="col-md-2">Evidence Type</th>
                            <th class="col-md-5">Comments</th>
                        </tr>
                        </thead>
                        {% for i in  constants[constant_sec_name] %}

                            <tr>
                                <td> {{ i[0] }}</td>
                                <td>{{ i[2] }}</td>
                                <td> {{ i[1] }}</td>

                            </tr>

                        {% endfor %}
                    {% endfor %}

                    </table>

                </div>
            </div>


            <div class="box" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Competence Sections</h3>

                </div>
                <div class="box-body">
                    <div class="form-group">

                        {% for sec_name in subsections %}

                            <table class="table table-striped table-hover ">
                            <h4 class="text-blue"><i class="fa fa-fw fa-check-square-o"></i> {{ sec_name }}</h4>
                            <thead>
                            <tr>
                                <th class="col-md-5">Area of Competence</th>
                                <th class="col-md-2">Evidence Type</th>
                                <th class="col-md-5">Comments</th>
                            </tr>
                            </thead>
                            {% for i in  subsections[sec_name] %}
                                <tbody>
                                <tr>
                                    <td> {{ i[0] }}</td>
                                    <td>{{ i[2] }}</td>
                                    <td> {{ i[1] }}</td>
                                </tr>

                            {% endfor %}
                        {% endfor %}

                        </tbody>
                        </table>
                    </div>

                </div>
            </div>
            {% if review %}

            {% else %}
                <div class="box box-primay" id="training">
                    <div class="box-header with-border">
                        <h3 class="box-title">Actions</h3>

                    </div>
                    <div class="box-body">

                        <a href="#" class="btn btn-warning btn-flat" type="button" id="activate_{{ c_id }}">Send for
                            Approval</a>
                        <a href="{{ url_for('competence.edit_competence') }}?ids={{ c_id }}"
                           class="btn btn-info btn-flat" type="button">Edit</a>

                    </div>
                </div>


                {#                <script>#}
                {##}
                {#                    $('#activate_{{ c_id }}').click(function () {#}
                {#                        var c_id = {{ c_id }};#}
                {#                        console.log(c_id);#}
                {##}
                {#                        var url = "{{ url_for('competence.activate_competency') }}";#}
                {#                        var dict = {'c_id': c_id};#}
                {#                        var data = JSON.stringify(dict);#}
                {##}
                {#                        $.ajax({#}
                {#                            type: "POST",#}
                {#                            url: url,#}
                {#                            data: data,#}
                {#                            dataType: "json",#}
                {#                            contentType: "application/json",#}
                {#                            success: function (response) {#}
                {#                                console.log(response);#}
                {##}
                {#                                if (response.match(/Competence has been activated!/i)) {#}
                {#                                    $('#competence_activated').show()#}
                {##}
                {##}
                {#                                }#}
                {#                            },#}
                {#                            error: function (xhr, status, error) {#}
                {#                                $('#trace').append("<p>" + error + "</p>");#}
                {#                                $('#ajaxModal').modal('show');#}
                {#                                return false;#}
                {#                            }#}
                {#                        });#}
                {#                    });#}
                {##}
                {##}
                {#                </script>#}

            {% endif %}
        </section>
    </div>

    <script>
        $('.approval').click(function () {
            id = $(this).attr('id')
            console.log(id)
            $.ajax({
                url: '{{ url_for("competence.send_for_approval") }}?id=' + id.replace('approval_', ''),
                success: function (response) {
                    location.reload();
                },
            });
        });
    </script>

{% endblock %}