{% extends "base.html" %}
{% block content %}


    <div class="row">

        <div class="col-md-12">
            <div class="well bs-component">
                <form action="{{ url_for('competence.add_competence') }}" method="POST" class="form-horizontal">
                    <fieldset>
                        <legend>Add Competence</legend>

                        <div class="form-group">
                            {{ form.title.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.scope(class_="form-control") }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form.scope.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.scope(class_="form-control") }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form.creator_id.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.creator_id(class_="form-control") }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form.validity_period.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.validity_period(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.documents.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.documents(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.add_document.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ form.add_document(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Update</button></span>
                                </div>
                                <span class="help-block">Please enter a Q-Pulse Document ID</span>
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form.h_and_s.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.h_and_s(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.add_h_and_s.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ form.add_h_and_s(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Update</button></span>
                                </div>
                                <span class="help-block">Please enter a new hazard</span>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.reagent_handling.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.reagent_handling(class_="form-control") }}
                            </div>
                        </div>

                         <div class="form-group">
                            {{ form.add_reagent.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ form.add_reagent(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Update</button></span>
                                </div>
                                <span class="help-block">Please enter a relevant reagent handling or storage item</span>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.coshh.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.coshh(class_="form-control") }}
                            </div>
                        </div>

                         <div class="form-group">
                            {{ form.add_coshh.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ form.add_coshh(class_="form-control") }}
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Update</button></span>
                                </div>
                                <span class="help-block">Please enter a new COSHH item</span>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.section.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                 {{ form.section(class_="form-control") }}
                                 <span class="input-group-btn"><button class="btn btn-primary" type="button">Add</button></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}