{% extends "base2.html" %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Assign Competence to User(s)
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="box box-small box-solid bg-gray-light" id="training">

                <div class="box-body">

            <div class="col-lg-12">
                        <h4><strong>Assigning to:</strong> {{assignees}}</h4>
                    </div>
                </div>
            </div>

            <div class="box" id="training">

                <div class="box-body">



            <form action="{{ url_for('competence.assign_user_to_competence') }}?ids={{ ids }}" method="POST" class="form-horizontal">
                <fieldset>
                    <legend>Choose Competence</legend>


                    <div class="form-group">
                        {{ form.name.label(class_="col-lg-2 control-label") }}

                        <div class="col-lg-10">
                            {{ form.name(required="required",class_="form-control") }}
                             <span class="help-block"><strong>Start typing and competencies will appear.</strong></span>
                            <span class="help-block">This competence will be <strong>Assigned</strong>, but not <strong>Activated</strong>. Once the staff member commences this competence it will become active.</span>
                        </div>
                    </div>

                     <div class="form-group">
                                    {{ form.due_date.label(class_="col-lg-2 control-label") }}
                                    <div class="col-lg-10">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form.due_date(required="required",class_="form-control pull-right",id="datepicker") }}
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class_="btn btn-primary btn-flat") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
            </section>
</div>

<script>

 $(function () {

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                startDate: '+1d'
            })


        })
    $(function () {
        $.ajax({
            url: '{{ url_for("competence.competence_name_autocomplete") }}'
        }).done(function (data) {
            $('#name').autocomplete({
                source: data.json_list,
                minLength: 2

            });
        });
    });
</script>

{% endblock %}