{% extends "base2.html" %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">


            <h1><i class="fa fa-edit"></i> Edit Competency</h1>

            <small></small>
            </h1>
            {#            <ol class="breadcrumb">#}
            {#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#                <li class="active">Here</li>#}
            {#            </ol>#}
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}


        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="small-box">
                        <a href="" class="pull-right btn btn-warning btn-flat"><i class="fa fa-thumbs-up"></i> Send For
                            Approval</a>
                    </div>
                </div>
            </div>
            <!-- If competence is live warn that it will create a new version -->
            <div class="row">
                <div class="col-md-12">
                    {% if live %}
                        <div class="callout callout-danger">
                            <h4>This competence is live!</h4>

                            <p>This is OK, but editing this page will create a new version of the competence. It won't
                                be made
                                live until you say so and users who are competent on the old version will still be
                                so.</p>
                        </div>
                    {% else %}
                        <div class="callout callout-success">
                            <h4>This competence is not live!</h4>

                            <p>This competence has never been made live so you can edit freely.</p>
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Basic Details</h3>

                        </div>
                        <div class="box-body">

                            <form id="details" class="form-horizontal">
                                <fieldset>


                                    <div class="form-group">
                                        {{ form.edit_title.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_title(required="required",class_="form-control") }}

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_scope.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_scope(required="required",class_="form-control") }}
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_competency_type.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.edit_competency_type(required="required",class_="form-control", value=defname ) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form.approval.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.approval(required="required",class_="form-control") }}
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        {{ form.edit_validity_period.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">

                                            {{ form.edit_validity_period(required="required",class_="form-control") }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-10">

                                            <a href="#" class="btn btn-flat btn-primary" id="save_details"><i
                                                    class="fa fa-save"></i> <span id="save_details_text">Save These Details</span></a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>


                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Associated Documents</h3>

                        </div>
                        <div class="box-body">
                            <form action="{{ url_for('competence.edit_competence') }}?c_id={{ c_id }}" method="POST"
                                  class="form-horizontal">
                                <fieldset>


                                    <div class="form-group">
                                        {{ form.ass_documents.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            {{ form.ass_documents(required="required",class_="form-control") }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.add_document.label(class_="col-lg-2 control-label") }}
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                {{ form.add_document(class_="form-control") }}

                                <span class="input-group-btn"><button class="btn btn-flat btn-primary"
                                                                      id="submit_document"
                                                                      type="button">Attach</button></span>

                                            </div>
                                            <span class="help-block" id="add_document_text">Please enter a Q-Pulse Document ID</span>
                                            <div id="invalid_qpulse"></div>
                                        </div>
                                    </div>


                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Permanent Sections</h3>

                        </div>
                        <div class="box-body">
                            <form action="{{ url_for('competence.edit_competence') }}?c_id={{ c_id }}" method="POST"
                                  class="form-horizontal">
                                <fieldset>
                                    {% for section in subsections["constant"] %}
                                        <h4 class="text-blue"><i
                                                class="fa fa-fw fa-check-square-o"></i>{{ section }}
                                        </h4>
                                        {% for subsection in subsections["constant"][section] %}
                                            <p>{{ subsection.name }}</p>
                                        {% endfor %}

                                    {% endfor %}
                                </fieldset>
                            </form>
                        </div>
                    </div>


                    <div class="box box-primary" id="training">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Custom Sections</h3>

                        </div>
                        <div class="box-body">
                            <form action="{{ url_for('competence.edit_competence') }}?c_id={{ c_id }}"
                                  method="POST">
                                <fieldset>
                                    {% for section in subsections["custom"] %}
                                        <h4 class="text-blue"><i
                                                class="fa fa-fw fa-check-square-o"></i>{{ section }}
                                        </h4>
                                        {% for subsection in subsections["custom"][section] %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" name="{{ subsection.id }}"
                                                           id="{{ subsection.id }}"
                                                           value="{{ subsection.name }}" class="form-control">
                                                <span class="input-group-btn">
                                                  <button type="button" data-toggle="tooltip" title="Remove Subsection" id="subsection_{{ subsection.id }}"
                                                          class="btn btn-flat btn-danger remove"><i
                                                          class="fa fa-remove"></i> </button>
                                                </span>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    {% endfor %}
                                </fieldset>
                            </form>
                        </div>
                    </div>


                </div>

            </div>

        </section>
    </div>



    <script>
        $('#save_details').click(function (e) {
             e.preventDefault();
            $('#save_details').html('<i class="fa fa-spin fa-refresh"></i> Saving....')
            setTimeout(function () {

                $.ajax({
                    type: 'post',
                    data: $('#details').serialize(),
                    url: '{{ url_for("competence.edit_details") }}?c_id={{ c_id }}&version={{ version }}',
                    success: function (response) {
                        $('#save_details').removeClass("btn-primary")
                        $('#save_details').addClass("btn-success")
                        $('#save_details').html('<i class="fa fa-save"></i> Saved!')

                        setTimeout(function () {
                            $('#save_details').html('<i class="fa fa-save"></i> Save These Details')
                            $('#save_details').removeClass("btn-success")
                            $('#save_details').addClass("btn-primary")

                        }, 3000);


                    },
                    error: function (error) {
                        $('#save_details').html('<i class="fa fa-exclamation-triangle"></i> Error - Try Refreshing Page');
                        $('#save_details').addClass("btn-danger")
                    },

                });
            }, 1000);

        });
        $('.remove').click(function () {
            var remove = $(this).attr('id');
            var id = $(this).attr('id').split('_')[1];
            $.ajax({
                url: '{{ url_for("competence.remove_subsection") }}?id=' + id + '&version={{ version }}',
                success: function (response) {
                    $('#' + remove).parent().parent().remove();
                },

            });
        });
        $(function () {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#approval').autocomplete({
                    source: data.json_list,
                    minLength: 2

                });
            });
        });
    </script>

{% endblock %}