{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Competent Staff</h1>
    </div>



    {% for competence_name in result %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>{{ competence_name }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for ss in result[competence_name] %}
                            {% if result[competence_name][ss]|length > 0 %}
                            <div class="panel panel-success">
                                <div class="panel-heading"> <strong>{{ ss }}</strong></div>
                                <div class="panel-body">

                                    <table class="table table-striped">
                                        <thead>
                                        <th>Name</th>
                                        <th>Signed-off By</th>
                                        <th>Line Manager</th>
                                        <th>Expiry Date</th>
                                        </thead>
                                        {% for user in result[competence_name][ss] %}
                                            <tr>
                                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                 </div>
                            </div>
                                    {%  else %}
                                <div class="panel panel-warning">
                                <div class="panel-heading"> <strong>{{ ss }}</strong></div>
                                <div class="panel-body">
                                    No Staff are competent
                                </div>
                                </div>

                                {% endif %}

                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    {% endfor %}

{% endblock %}