{% extends "base2.html" %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Competency Sections
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <h3>Constant Sections</h3>

            <form action="{{ url_for('competence.add_sections') }}?c_id={{ c_id }}" method="POST"
                  class="form-horizontal">
                {% for section in result %}

                    <div class="box box-danger" id="training">
                        <div class="box-header box-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-check-square-o"></i> {{ section }}</h3>
                            <div class="box-tools pull-right inline">
                                <div class=form-group">
                                    <label class="checkbox" for="required">
                                        <input id="required" class="minimal" type="checkbox"
                                               data-toggle="toggle"
                                               data-on="Yes" data-off="No" data-size="mini"
                                               data-onstyle="success" data-offstyle="danger"
                                               data-id="{{ result[section]['id'] }}" checked>
                                        Required</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">


                            <div class="form-group">
                                <div class="col-md-2"><label> Relevant {{ section }}</label></div>
                                <div class="col-lg-10">

                                    <select class="form-control" name="{{ result[section]['id'] }}_subsections"
                                            id="{{ result[section]['id'] }}_subsections" multiple>
                                        {% for subsections in result[section]['subsections'] %}
                                            {% for subsection in subsections %}
                                                <option value="{{ subsection.id }}">{{ subsection.item }}</option>


                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% if "ADMIN" in current_user.roles %}
                            <div class="form-group">
                                {{ form.add_h_and_s.label(class_="col-lg-2 control-label") }}
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        {{ form.add_h_and_s(class_="form-control new_item_"+result[section]['id']) }}
                                                <span class="input-group-btn"><button class="btn btn-primary btn-flat"
                                                                                      type="button"
                                                                                      id="update_{{ result[section]['id'] }}">Update</button></span>
                                    </div>
                                    <span class="help-block">Please enter a new item</span>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>

                    <script>

                        $("#update_{{ result[section]['id'] }}").click(function (e) {
                            console.log("hello1")
                            var s_id = {{ result[section]['id'] }};
                            var item = $(".new_item_{{ result[section]['id'] }}").val()

                            console.log(s_id);
                            console.log("hello2");
                            console.log(item);
                            console.log("hello3");

                            var url = "{{ url_for('competence.add_constant_subsection') }}";
                            var dict = {'s_id': s_id, 'item': item};
                            var data = JSON.stringify(dict);
                            console.log(data);

                            $.ajax({
                                type: "POST",
                                url: url,
                                data: data,
                                dataType: "json",
                                contentType: "application/json",
                                success: function (response) {
                                    var o = new Option(item, response);
                                    // $(o).html(item);
                                    $("#{{ result[section]['id'] }}_subsections").append(o);


                                },
                                error: function (xhr, status, error) {
                                    $('#trace').append("<p>" + error + "</p>");
                                    $('#ajaxModal').modal('show');
                                    return false;
                                }
                            });


//                     var o = new Option("option text", "value");
//                     $("{{ result[section]['id'] }}_{{ section }}_subsections").append(item);
                        });


                    </script>



                {% endfor %}
                <h3>Custom Sections</h3>

                <div class="box box-success" id="training">
                    <div class="box-header box-border">
                        <h3 class="box-title"><i class="fa fa-fw fa-plus"></i> Add Custom Section</h3>
                    </div>
                    <div class="box-body">

                                <div class="input-group">
                                    {{ form.choose_section(class_="form-control") }}
                                <span class="input-group-btn"><button class="btn btn-primary btn-flat" id="add_section"
                                                                      type="button">Add</button></span>
                                </div>

                    </div>
                </div>
                <div id="section_list"></div>


                <script>

                    $(document).on('click', '#add_section', function () {
                        var section = $('#choose_section option:selected');
                        var text = $(section).text();
                        var val = $(section).val();
                        var c_id = {{ c_id }};
                        console.log(c_id);

                        var url = "{{ url_for('competence.get_section') }}";
                        var dict = {'text': text, 'val': val, 'c_id': c_id};
                        var data = JSON.stringify(dict);

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (response) {
                                console.log(response);

                                $('#section_list').append(response);
                            },
                            error: function (xhr, status, error) {
                                $('#trace').append("<p>" + error + "</p>");
                                $('#ajaxModal').modal('show');
                                return false;
                            }
                        });
                    });

                    $(document).on('change', '#required', function (e) {
                        console.log($(e.target));
                        console.log($(e.target).attr('data-id'));
                        console.log($(e.target).prop('checked'));
                        var required = $(e.target);
                        var section_id = $(required).attr('data-id');
                        if ($(required).prop('checked')) {
                            $('#' + section_id + '_subsections').removeAttr('disabled');
                            $('#update_' + section_id).removeAttr('disabled');

                        }
                        else {
                            $('#' + section_id + '_subsections').attr('disabled', 'disabled');
                            $('#update_' + section_id).attr('disabled', 'disabled');
                        }
                    });

                    $(document).on('click', '#submit', function () {

                    });

                </script>


                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        {{ form.submit(class_="btn btn-danger btn-flat pull-right") }}
                    </div>
                </div>


            </form>
    </div>
    </section>
    </div>

{% endblock %}