{% extends "base2.html" %}
{% block content %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-fw fa-video-camera"></i> Training Videos
                <small></small>
            </h1>
            {#            <ol class="breadcrumb">#}
            {#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#                <li class="active">Here</li>#}
            {#            </ol>#}
            {% if message %}
                <div class="alert alert-danger">
                    <strong>Fail Whale!</strong> {{ message }}
                </div>
            {% endif %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="box box-primary" id="training">
                <div class="box-header with-border">
                    <h3 class="box-title">Available Videos</h3>

                </div>
                <div class="box-body">
                    <div class="row">
                        {% for video in videos %}
                            <div class="col-md-4">

                                <iframe width="360" height="200" src="{{ video.embed_code|safe }}" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <p class="text-muted"><strong>Title: </strong>{{ video.title }}<br> <strong>Competence: </strong>{{ video.competence_details.title }}<a href="{{ url_for('competence.remove_video',id=video.id)}}" class="btn btn-sm btn-flat btn-danger pull-right"><i class="fa fa-remove"></i> Remove</a><br><br></p>
                            {% if "ADMIN" in current_user.roles %}

                            {% endif %}

                            </div>
                        {% endfor %}
                    </div>


                </div>
        </section>
    </div>
{% endblock %}