{% extends "base2.html" %}
{% block content %}

    <section>
        <h1>Add Competency</h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary" id="training">
            <div class="box-header with-border">
                <h3 class="box-title">Basic Details</h3>
            </div>

            <div class="box-body">
                <form action="{{ url_for('competence.add_competence') }}" method="POST" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            {{ form.title.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.title(class_="form-control",required='required') }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.scope.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.scope(class_="form-control",required='required') }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.competency_type.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.competency_type(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.validity_period.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ form.validity_period(class_="form-control") }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-flat" type="button" disabled>Months</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.approval.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ form.approval(class_="form-control",required='required',autocomplete="off") }}
                                <span class="help-block" id="invalid_user">Enter the person to authorise this document. This cannot be you!</span>
                            </div>
                        </div>

                        {% if qpulse_module != False %}
                            <div class="form-group">
                                {{ form.add_document.label(class_="col-lg-2 control-label") }}
                                <div class="col-lg-10">
                                    <div class="input-group" id="add_document_group">
                                        {{ form.add_document(class_="form-control") }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-flat" id="submit_document" type="button">Attach</button>
                                        </span>
                                    </div>
                                    <span class="help-block" id="add_document_text">Please enter a Q-Pulse Document ID</span>
                                    <div id="invalid_qpulse"></div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="alert alert-danger" role="alert" id="qpulse_error" hidden>
                            This is not a valid QPulse Document! Please try again.
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <div id="selected_docs"></div>
                            </div>
                        </div>

                        <input type="text" id="doc_list" name="doc_list" hidden>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                {{ form.submit(class_="btn btn-primary btn-flat") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="document_list"></div>
    </section>

    {% if "ADMIN" in current_user.roles %}
        {% set admin=True%}
    {% endif %}

    <script>
        $(function () {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#approval').autocomplete({
                    source: data.json_list,
                    minLength: 2

                });
            });
        });
        //this function does autocomplete for existing documents in the database
        $(function () {
            $.ajax({
                url: '{{ url_for("competence.document_autocomplete") }}'
            }).done(function (data) {
                console.log(data.json_list);
                $('#add_document').autocomplete({
                    source: data.json_list,
                    minLength: 2
                });
            });
        });

        $('#approval').focusout(function () {
            let url = '{{ url_for("check_valid_user") }}';
            let data = {"name": $('#approval').val()}
            console.log(data)
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    console.log(response)
                    result = response["response"]
                    if (result == false) {
                        $('#invalid_user').addClass('text-red');
                        $('#invalid_user').text('Invalid User!');
                        $('#approval').val('');
                        ;
                    }
                    if (result == true) {

                        if('{{ current_user.full_name }}' == data["name"]){
                            var admin = "{{ admin }}";
                            if (admin != "True"){
                                $('#invalid_user').addClass('text-red');
                                $('#invalid_user').text('You cannot authorise a competencey you have authored!');
                                $('#approval').val('');
                            }
                        }else {
                            $('#invalid_user').addClass('text-green');
                            $('#invalid_user').text('Valid User!');
                        }

                        console.log('{{ current_user.full_name }}');
                        console.log(data);


                    }
                }
            });


        });

        //This function checks whether the input is a valid Qpulse doc number and adds it to a list if correct, list items are displayed underneath if succesfully added
        $('#submit_document').click(function () {

            $(this).html('<i class="fa fa-spin fa-refresh"></i>');

            $('#qpulse_error').hide();

            let previous_value = $('#doc_list').val();
            if (previous_value == "") {
                sep = ''
            } else {
                sep = ','
            }

            let url = "{{ url_for('competence.get_doc_name') }}";
            let doc_id = $('#add_document').val();
            console.log(doc_id);
            console.log(url);

            let dict = {'doc_id': doc_id};
            let data = JSON.stringify(dict);
            console.log(data);

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    console.log(response)

                    $('#submit_document').html('Attach');

                    if (response["response"].match(/This is not a valid QPulse Document/i)) {
                        $('#add_document_group').addClass("has-error");
                        $('#submit_document').removeClass("btn-primary");
                        $('#submit_document').addClass("btn-danger");
                        $('#add_document_text').text('Q-Pulse Document Not Found!');
                        $('#add_document_text').addClass('text-red');


                    }
                    else {
                        $('#add_document_group').removeClass("has-error");
                        $('#submit_document').addClass("btn-primary");
                        $('#submit_document').removeClass("btn-danger");
                        $('#add_document_text').text('Please enter a Q-Pulse Document ID');
                        $('#add_document_text').removeClass('text-red')

                        $('#doc_list').val(previous_value + sep + $('#add_document').val())
                        $('#selected_docs').append('<a href="#" class="btn btn-success remove btn-flat" style="margin-top: 2px;" id="remove_document" doc_number="' + $('#add_document').val() + '">' + $('#add_document').val() + ': ' + response["response"] + ' <span class="glyphicon glyphicon-remove"></span> </a> ')

                    }
                },
                error: function (xhr, status, error) {
                    $('#trace').append("<p>" + error + "</p>");
                    $('#ajaxModal').modal('show');
                    return false;
                }
            });

        });

        //this function allows deletion of items from the document list so they can'r be added to the database
        $(document).on("click", '.remove', function () {
            let docs = $('#doc_list').val().split(',');
            console.log(docs);
            docs.splice($.inArray($(this).attr('doc_number'), docs), 1);
            console.log(docs);
            $('#doc_list').val(docs.join());
            $(this).remove();
        });

    </script>

{% endblock %}