{% extends "base2.html" %}
{% block content %}



<section>
    <h1><i class="fa fa-fw fa-paper-plane-o"></i> Reports By Section</h1>
    <small></small>

    {% if message %}
        <div class="alert alert-danger">
            <strong>Fail Whale!</strong> {{ message }}
        </div>
    {% endif %}

</section>

<!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-5">
            <h3>Trends: Completed Assessments</h3>
            <h5> Number of assessments signed off in the past month</h5>
        </div>
        <div class="col-md-7">
            <h3>Trends: Completed Reassessments</h3>
            <h5> Number of reassessments signed off in the past month</h5>
        </div>
        <div class="row" style="padding-top:8rem">
            <div class="box-body" style="height:32rem; width:95%; background-color: white">
                <div class="col-md-5">
                    {{ completed_assessments_plot }}
                </div>
                <div class="col-md-7">
                    {{ completed_reassessments_plot }}
                </div>
            </div>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="col-md-5">
            <h3>Trends: Expired assessments</h3>
            <h5> Total number of expired assessments at the time of recording</h5>
        </div>
        <div class="col-md-7">
            <h3>Trends: Overdue Training</h3>
            <h5>Total number of overdue training assessments at the time of recording</h5>
        </div>
        <div class="row" style="padding-top:8rem">
            <div class="box-body" style="height:32rem; width:95%; background-color: white">
                <div class="col-md-5">
                    {{ expired_plot }}
                </div>
                <div class="col-md-7">
                    {{ overdue_plot }}
                </div>
            </div>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="col-md-5">
            <h3>Trends: Activated Training</h3>
            <h5> Number of assessments activated in the past month</h5>
        </div>
        <div class="col-md-7">
            <h3>Trends: Activated Training not completed within 3 months</h3>
            <h5>Number of assessments activated three months ago that have not been completed</h5>
        </div>
        <div class="row" style="padding-top:8rem">
            <div class="box-body" style="height:32rem; width:95%; background-color: white">
                <div class="col-md-5">
                    {{ activated_assessments_plot }}
                </div>
                <div class="col-md-7">
                    {{ activated_assessments_three_month_plot }}
                </div>
            </div>
        </div>
    </section>
    <section class="content container-fluid">
        <div class="col-md-5">
            <h3>Trends: Four Year Expiry</h3>
            <h5> Number of assessments that reached their four year expiry within the past month</h5>
        </div>

        <div class="row" style="padding-top:8rem">
            <div class="box-body" style="height:32rem; width:55%; background-color: white">
                <div class="col-md-5">
                    {{ four_year_expiry_plot }}
                </div>

            </div>
        </div>
    </section>


<section class="content container-fluid">
    <h3>Expired Competencies</h3>
    <h5>Competencies with any assessments expired as of today</h5>

    <div class="row">
        <div class="col-md-9">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    {% for service in expired %}
                        {% if loop.index == 1 %}
                            <li class="active">
                        {% else %}
                            <li class="">
                        {% endif %}

                    <a href="#{{ service }}_expired" data-toggle="tab" aria-expanded="true">{{ service }}</a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="tab-content">
                    {% for service in expired %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane active" id="{{ service }}_expired">
                        {% else %}
                            <div class="tab-pane" id="{{ service }}_expired">
                        {% endif %}
                    <table class="table table-striped table-condensed  dataTable dt-responsive expired"
                           width="70%">
                        <thead>
                        <th>User</th>
                        <th>Competence</th>
                        <th>Earliest Expiry Date</th>
                        </thead>
                        {% for user in expired[service] %}
                            {% for competence in expired[service][user] %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ competence }}</td>
                                <td>{{ expired[service][user][competence] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    </div>
                    {% endfor %}

                    </div>
                </div>
            </div>

        </div>


        <h3>Competencies expiring in the next 30 days</h3>
    <h5>Competencies with any assessments expiring in the next 30 days from today</h5>

        <div class="row">
            <div class="col-md-9">
                <!-- Custom Tab -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {% for service in expiring %}
                            {% if loop.index == 1 %}
                                <li class="active">
                            {% else %}
                                <li class="">
                            {% endif %}

                        <a href="#{{ service }}_expiring" data-toggle="tab"
                           aria-expanded="true">{{ service }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="tab-content">
                        {% for service in expiring %}
                            {% if loop.index == 1 %}
                                <div class="tab-pane active" id="{{ service }}_expiring">
                            {% else %}
                                <div class="tab-pane" id="{{ service }}_expiring">
                            {% endif %}
                        <table class="table table-striped table-condensed  dataTable dt-responsive expiring"
                               width="70%">
                            <thead>
                            <th>User</th>
                            <th>Competence</th>
                            <th>Earliest Expiry Date</th>
                            </thead>
                            {% for user in expiring[service] %}
                                {% for competence in expiring[service][user] %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ competence }}</td>
                                    <td>{{ expiring[service][user][competence] }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                        </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>

    <h3>Overdue Training</h3>
    <h5>Training that has been assigned but not completed by its due date</h5>

    <div class="row">
        <div class="col-md-9">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    {% for service in overdue %}
                        {% if loop.index == 1 %}
                            <li class="active">
                        {% else %}
                            <li class="">
                        {% endif %}

                    <a href="#{{ service }}_overdue" data-toggle="tab" aria-expanded="true">{{ service }}</a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="tab-content">
                    {% for service in overdue %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane active" id="{{ service }}_overdue">
                        {% else %}
                            <div class="tab-pane" id="{{ service }}_overdue">
                        {% endif %}
                    <table class="table table-striped table-condensed  dataTable dt-responsive expired"
                           width="70%">
                        <thead>
                        <th>User</th>
                        <th>Competence</th>
                        <th>Due Date</th>
                        </thead>
                        {% for user in overdue[service] %}
                            {% for competence in overdue[service][user] %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ competence }}</td>
                                <td>{{ overdue[service][user][competence] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
    <h3>Training Activated 3 months ago</h3>
    <h5>Training that was activated at least 3 months ago but has not yet been completed</h5>

    <div class="row">
        <div class="col-md-9">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    {% for service in activated_three_month %}
                        {% if loop.index == 1 %}
                            <li class="active">
                        {% else %}
                            <li class="">
                        {% endif %}

                    <a href="#{{ service }}_activated_three_month" data-toggle="tab" aria-expanded="true">{{ service }}</a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="tab-content">
                    {% for service in overdue %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane active" id="{{ service }}_activated_three_month">
                        {% else %}
                            <div class="tab-pane" id="{{ service }}_activated_three_month">
                        {% endif %}
                    <table class="table table-striped table-condensed  dataTable dt-responsive expired"
                           width="70%">
                        <thead>
                        <th>User</th>
                        <th>Competence</th>
                        <th>Activation Date</th>
                        </thead>
                        {% for user in activated_three_month[service] %}
                            {% for competence in activated_three_month[service][user] %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ competence }}</td>
                                <td>{{ activated_three_month[service][user][competence] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>





{#    <script src="/static/bower_components/chart.js/Chart.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.esm.js" integrity="sha512-iPOvgg5RoL9rL/XjfFdBqjAlStti+ik8BmLYu12vwlD5jgCCdw7R8kI9mtHU7fMUSaRwG+w56i0xrAm/tnVj7w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js" integrity="sha512-opXrgVcTHsEVdBUZqTPlW9S8+99hNbaHmXtAdXXc61OUU6gOII5ku/PzZFqexHXc3hnK8IrJKHo+T7O4GRIJcw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/helpers.esm.js" integrity="sha512-VzhPhsLWGZ8kBPi9bHEcIVPOryxNlYq0iPPKUO8gb1sXi8wYGBi4LWx+c8nN/CofeKjSDXWDDtNsABXV6Q3Jfg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/helpers.esm.min.js" integrity="sha512-4OeC7P+qUXB7Kpyeu1r5Y209JLXfCkwGKDpk8vnXzeNGMnpTr6hzOz2lMm7h0oxRBVu2ZCPRkCBPMmIlWsbaHg==" crossorigin="anonymous"></script>


 <script>

     var expired = $('.expired').DataTable({
            "pageLength": 10,
            "ordering": true,
            "order": [[0, "asc"], [1, "asc"]]
        });


      var expiring = $('.expiring').DataTable({
        "pageLength": 10,
        "ordering": true,
        "order": [[0, "asc"], [1, "asc"]]
    });
 </script>

{#<script>#}
{#var ctx = document.getElementById('expiredlinegraph').getContext('2d');#}
{#var myChart = new Chart(ctx, {#}
{#    type: 'line',#}
{#    data: {#}
{#        labels: ['May20','Jun20', 'Jul20', 'Aug20', 'Sep20', 'Oct20', 'Nov20', 'Dec20', 'Jan21', 'Feb21', 'Mar21', 'Apr21'],#}
{#        datasets: [{#}
{#                label: 'Oncology',#}
{#                data: [12, 14, 16, 25, 24, 18, 15, 14, 12, 10, 11, 13],#}
{#                borderColor: 'rgba(255, 99, 132, 1)',#}
{#                backgroundColor: 'rgba(255, 99, 132, 0.2)'#}
{#            },#}
{#            {#}
{#                label: 'Rare Disease',#}
{#                data: [10, 9, 11, 10, 10, 14, 15, 16, 13, 14, 10, 9],#}
{#                borderColor: 'rgba(54, 162, 235, 1)',#}
{#                backgroundColor: 'rgba(54, 162, 235, 0.2)'#}
{#            },#}
{#            {#}
{#                label: 'Lab Services',#}
{#                data: [20, 24, 21, 25, 25, 29,30, 31, 27, 26, 25, 26],#}
{#                borderColor: 'rgba(255, 159, 64, 1)',#}
{#                backgroundColor: 'rgba(255, 159, 64, 0.2)'#}
{#            },#}
{#            {#}
{#                borderDash:[5,5],#}
{#                data: [20,20,20,20,20,20,20,20,20,20,20,20],#}
{#                borderColor: 'rgba(0,0,0,0.3)',#}
{#                label: "Target = <20%",#}
{#                radius: 0#}
{#            }#}
{#        ]#}
{#    },#}
{#    options: {#}
{#        responsive: true,#}
{#        maintainAspectRatio: false,#}
{#        scales: {#}
{#            y: {#}
{#                beginAtZero: true#}
{#            }#}
{#        }#}
{#    }#}
{# });#}
{##}
{#</script>#}
{##}
{#<script>#}
{#var ctx = document.getElementById('completedlinegraph').getContext('2d');#}
{#var myChart = new Chart(ctx, {#}
{#    type: 'line',#}
{#    data: {#}
{#        labels: ['May20','Jun20', 'Jul20', 'Aug20', 'Sep20', 'Oct20', 'Nov20', 'Dec20', 'Jan21', 'Feb21', 'Mar21', 'Apr21'],#}
{#        datasets: [{#}
{#                label: 'Oncology',#}
{#                data: [10,13,14,10,20,46,53,45,30,25,20,18],#}
{#                borderColor: 'rgba(255, 99, 132, 1)',#}
{#                backgroundColor: 'rgba(255, 99, 132, 0.2)'#}
{#            },#}
{#            {#}
{#                label: 'Rare Disease',#}
{#                data: [29,34,26,36,37,30,20,19,20,35,52,40],#}
{#                borderColor: 'rgba(54, 162, 235, 1)',#}
{#                backgroundColor: 'rgba(54, 162, 235, 0.2)'#}
{#            },#}
{#            {#}
{#                label: 'Lab Services',#}
{#                data: [10,12,15,14,13,16,9,13,15,13,7,9],#}
{#                borderColor: 'rgba(255, 159, 64, 1)',#}
{#                backgroundColor: 'rgba(255, 159, 64, 0.2)'#}
{#            }#}
{##}
{#        ]#}
{#    },#}
{#    options: {#}
{#        responsive: true,#}
{#        maintainAspectRatio: false,#}
{#        scales: {#}
{#            y: {#}
{#                beginAtZero: true#}
{#            }#}
{#        }#}
{#    },#}
{##}
{# });#}
{##}
{#</script>#}


<!--    <script>-->


<!--        $(function () {-->
<!--            /* ChartJS-->
<!--             * -&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--             * Here we will create a few charts using ChartJS-->
<!--             */-->

<!--            var data_expired = {-->
<!--                labels: [-->
<!--                    {% for name in user_expired %}-->
<!--                        "{{ name[0] }}",-->
<!--                    {% endfor %}-->

<!--                ],-->
<!--                datasets: [{-->
<!--                    data: [-->
<!--                        {% for name in user_expired %}-->
<!--                            {{ name[1] }},-->
<!--                        {% endfor %}-->

<!--                    ]-->

<!--                }]-->
<!--            }-->

<!--            var data_expiring = {-->
<!--                labels: [-->
<!--                    {% for name in user_expiring %}-->
<!--                        "{{ name[0] }}",-->
<!--                    {% endfor %}-->

<!--                ],-->
<!--                datasets: [{-->
<!--                    data: [-->
<!--                        {% for name in user_expiring %}-->
<!--                            {{ name[1] }},-->
<!--                        {% endfor %}-->

<!--                    ]-->

<!--                }]-->
<!--            }-->
<!--            //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--            //- BAR CHART - -->
<!--            //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--            var barChartCanvas = $('#barChart').get(0).getContext('2d')-->
<!--            var barChart = new Chart(barChartCanvas)-->
<!--            var barChartData = data_expired-->
<!--            barChartData.datasets[0].fillColor = '#ef4923'-->
<!--            barChartData.datasets[0].strokeColor = '#ef4923'-->
<!--            barChartData.datasets[0].pointColor = '#ef4923'-->
<!--            var barChartOptions = {-->
<!--                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value-->
<!--                scaleBeginAtZero: true,-->
<!--                //Boolean - Whether grid lines are shown across the chart-->
<!--                scaleShowGridLines: true,-->
<!--                //String - Colour of the grid lines-->
<!--                scaleGridLineColor: 'rgba(0,0,0,.05)',-->
<!--                //Number - Width of the grid lines-->
<!--                scaleGridLineWidth: 1,-->
<!--                //Boolean - Whether to show horizontal lines (except X axis)-->
<!--                scaleShowHorizontalLines: true,-->
<!--                //Boolean - Whether to show vertical lines (except Y axis)-->
<!--                scaleShowVerticalLines: true,-->
<!--                //Boolean - If there is a stroke on each bar-->
<!--                barShowStroke: true,-->
<!--                //Number - Pixel width of the bar stroke-->
<!--                barStrokeWidth: 2,-->
<!--                //Number - Spacing between each of the X value sets-->
<!--                barValueSpacing: 5,-->
<!--                //Number - Spacing between data sets within X values-->
<!--                barDatasetSpacing: 1,-->
<!--                //String - A legend template-->
<!--                {#      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',#}-->
<!--                //Boolean - whether to make the chart responsive-->
<!--                responsive: true,-->
<!--                maintainAspectRatio: true-->
<!--            }-->

<!--            barChartOptions.datasetFill = false-->
<!--            barChart.Bar(barChartData, barChartOptions)-->

<!--            var barChartCanvas = $('#barChart_expiring').get(0).getContext('2d')-->
<!--            var barChart = new Chart(barChartCanvas)-->
<!--            var barChartData = data_expiring-->
<!--            barChartData.datasets[0].fillColor = '#ef8f23'-->
<!--            barChartData.datasets[0].strokeColor = '#ef8f23'-->
<!--            barChartData.datasets[0].pointColor = '#ef8f23'-->
<!--            var barChartOptions = {-->
<!--                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value-->
<!--                scaleBeginAtZero: true,-->
<!--                //Boolean - Whether grid lines are shown across the chart-->
<!--                scaleShowGridLines: true,-->
<!--                //String - Colour of the grid lines-->
<!--                scaleGridLineColor: 'rgba(0,0,0,.05)',-->
<!--                //Number - Width of the grid lines-->
<!--                scaleGridLineWidth: 1,-->
<!--                //Boolean - Whether to show horizontal lines (except X axis)-->
<!--                scaleShowHorizontalLines: true,-->
<!--                //Boolean - Whether to show vertical lines (except Y axis)-->
<!--                scaleShowVerticalLines: true,-->
<!--                //Boolean - If there is a stroke on each bar-->
<!--                barShowStroke: true,-->
<!--                //Number - Pixel width of the bar stroke-->
<!--                barStrokeWidth: 2,-->
<!--                //Number - Spacing between each of the X value sets-->
<!--                barValueSpacing: 5,-->
<!--                //Number - Spacing between data sets within X values-->
<!--                barDatasetSpacing: 1,-->
<!--                //String - A legend template-->
<!--                {#      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',#}-->
<!--                //Boolean - whether to make the chart responsive-->
<!--                responsive: true,-->
<!--                maintainAspectRatio: true-->
<!--            }-->

<!--            barChartOptions.datasetFill = false-->
<!--            barChart.Bar(barChartData, barChartOptions)-->


<!--        })-->

<!--    </script>-->

{% endblock %}