<div class="panel-heading" id={{ val }}><span class="glyphicon glyphicon-th-list"></span>
    <a class="collapsed" data-toggle="collapse" data-target="#collapseOne"
       href="#collapseOne">{{ text }}</a>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{ table }}
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <button class="btn btn-default" id="add_subsection"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="form-group" id="subsection_form" hidden>

    </div>
</div>