<div class="form-group">
    <label class="col-lg-2 control-label">{{ text }}</label>
    <div class="col-lg-10">
        {{ table }}
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label"></label>
    <div class="col-lg-10">
        <a href="#" class="btn btn-primary" id="add_subsection"><span
                class="glyphicon glyphicon-plus-sign"></span> Add</a>

    </div>
</div>


<div class="form-group" id="subsection_form" hidden>
    <label class="col-lg-2 control-label"></label>
     <div class="col-lg-10">
         <div class="form-group">
                            {{ subsection_form.name.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.name(class_="form-control") }}
                            </div>
                        </div>
          <div class="form-group">
                            {{ subsection_form.evidence.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.evidence(class_="form-control") }}
                            </div>
                        </div>
         <div class="form-group">
                            {{ subsection_form.comments.label(class_="col-lg-2 control-label") }}
                            <div class="col-lg-10">
                                {{ subsection_form.comments(class_="form-control") }}
                            </div>
                        </div>
                    <button class="btn btn-primary" id="submit_subsection" type="button">Add Section</button>




     </div>
</div>

    <script>
        $("#add_subsection").click(function (e) {
            e.preventDefault();
            $('#subsection_form').show()
        });

        $("#submit_subsection").click(function (e) {
            e.preventDefault();
            var dict = {'name': $("#name").val(), 'evidence_id':  $("#evidence").val(), 'comments':$("#comments").val(), 'c_id':{{ c_id }}, 's_id':{{  val }}};
            var data = JSON.stringify(dict);
            console.log(data)

            $.ajax({
                type: "POST",
                url: "{{ url_for('competence.add_sections_to_db',id=val) }}",
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {

                    $('.section').replaceWith(response);
                },
                error: function (xhr, status, error) {
                    $('#trace').append("<p>" + error + "</p>");
                    $('#ajaxModal').modal('show');
                    return false;
                }

            });
        });

    </script>