<div class="form-group">
    <label class="col-lg-2 control-label">{{ text }}</label>
    <div class="col-lg-10">
        {{ table }}


    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label"></label>
    <div class="col-lg-10">
        <a href="#" class="btn btn-primary" id="add_subsection"><span
                class="glyphicon glyphicon-plus-sign"></span> Add</a>

    </div>
</div>


<div class="form-group" id="subsection_form" hidden>
    <label class="col-lg-2 control-label"></label>
     <div class="col-lg-10">
        Add Subsection
         </div>
</div>

    <script>
        $("#add_subsection").click(function (e) {
            e.preventDefault();
            $('#subsection_form').show()
        });

    </script>