{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1><span class="glyphicon glyphicon-th-list"></span> 404 Not Found</h1></div>
            <div class="row">
            <div class="col-md-12">You're crazy - you'll never find what you are looking for here. Only Whales can be found here!</div></div>
        </div>
        <div class="row">
            <div class="col-md-12"><center><img src="/static/images/whale.png"></center></div>
            </div>

    </div>
</div>


{% endblock %}