{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1><span class="glyphicon glyphicon-th-list"></span> 500 Internal Server Error</h1></div>
            <div class="row">
            <div class="col-md-12">The whales are strong with this one. Something awful has happened, well, not that awful, but it's pretty bad.</div></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><center><img src="/static/images/whale2.png"></center></div>
            </div>

    </div>
</div>


{% endblock %}