<div class="modal" id="accept_{{ evidence.id }}">
    <form action="{{ url_for('training.signoff_evidence',action="accept",evidence_id=evidence.id) }}" method="POST"
                      class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><strong>Accept Evidence</strong></h4>
            </div>
            <div class="modal-body">



                        <div class="form-group">
                            {{ accept_form.comments.label(class_="col-lg-3 control-label") }}
                            <div class="col-lg-9">{{ accept_form.comments(class_="form-control ") }}</div>
                        </div>

                <div class="form-group">
                                    {{ accept_form.expiry_date.label(class_="col-lg-2 control-label") }}
                                    <div class="col-lg-10">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ accept_form.expiry_date(class_="form-control pull-right",id="datepicker") }}
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                 <div class="form-group">
                            <div class="col-lg-9">{{ accept_form.assid(class_="form-control ",value=evidence.id) }}</div>
                        </div>



            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">

                        {{ accept_form.submit(class_="btn btn-primary") }}

                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
            </fieldset>
        </form>
</div>

<script>
    $(function () {

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                startDate: '+1d'
            })


        })
</script>