{% extends "base.html" %}
{% block content %}


<div class="page-header">
    <h1>Dashboard: <strong>{{ current_user.id }}</strong></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> About You</div>
    <div class="panel-body">
        Roles:
        {% for role in current_user.roles %}
        {{ role }}
        {% endfor %}
    </div>
</div>

{% if "LINEMANAGER" in current_user.roles %}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseOne"
           href="#collapseOne">Line Reports <span class="badge">{{ linereports|length }}</span></a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            Click your line reports name to view their dashboard.
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <th>Name</th>
                        <th>Ongoing</th>
                        <th>Close to Expiry</th>
                        <th>Expired</th>
                        </thead>
                        {% for report in linereports %}
                        <tr>
                            <td>{{ report.first_name }} {{ report.last_name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% if linereports_inactive > 0 %}
            <div class="alert alert alert-warning">
                You have {{ linereports_inactive }} inactive line reports. Click here to view.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endif %}

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-apple"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
           href="#collapseTwo">Ongoing Training (1)</a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            This section provides a list of your ongoing training. Click to see details of an individual competence.
            <table class="table table-striped">
                <thead>
                <th>Competence</th>
                <th>Date Started</th>
                <th>Date Due</th>
                <th>Percent Complete</th>
                </thead>
                <tr>
                    <td>Sysadmin</td>
                    <td>01/01/2017</td>
                    <td>01/01/2017</td>
                    <td>

                        <div style="margin: auto;" class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style=" width: 60%;">
                            </div>
                        </div>


                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree">Awaiting Sign-Off (1)</a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            This section provides a list of competences that you need to sign-off.
            <table class="table table-striped">
                <thead>
                <th>Competence</th>
                <th>Sub-Section</th>
                <th>Evidence</th>
                <th>Trainee</th>
                <th>Date Completed</th>
                <th>Click To Sign-Off</th>
                </thead>
                <tr>
                    <td>Sysadmin</td>
                    <td>Mounting a Drive</td>
                    <td><a href="" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                    <td>Nichola Cooper</td>
                    <td>01/01/2017</td>
                    <td><a href="" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-education"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFour"
           href="#collapseFour">You Are Competent In... (50)</a>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            **list of completed competencies?**
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-education"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFive"
           href="#collapseFive">Your Owned Competencies (32)</a>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <strong>Incomplete</strong>

                    <table class="table table-striped">
                        <thead>
                        <th>Competence</th>
                        <th>Q-Pulse Doc Number</th>
                        <th>Continue Editing</th>
                        <th>Mark Complete</th>
                        </thead>
                        <tr>
                            <td>Sysadmin</td>
                            <td>401.058</td>
                            <td><a href="" class="btn btn-sm btn-default"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                            <td><a href="" class="btn btn-sm btn-default"><span
                                    class="glyphicon glyphicon-ok"></span></a>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <strong>Complete</strong>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script>-->
<!--$(function () {-->
<!--$("#competence").accordion({-->
<!--collapsible: true,-->
<!--active: false,-->
<!--heightStyle: 'content',-->
<!--speed: 'fast'-->
<!--});-->
<!--});-->
<!--$(function () {-->
<!--$("#sections").accordion({-->
<!--collapsible: true,-->
<!--active: false,-->
<!--heightStyle: 'content',-->
<!--speed: 'fast'-->
<!--});-->
<!--});-->
<!--</script>-->

{% endblock %}