{% extends "base.html" %}
{% block content %}


<div class="page-header">
    <h1>Dashboard: <strong>{{ current_user.id }}</strong></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> About You</div>
    <div class="panel-body">
        Roles:
        {% for role in current_user.roles %}
        {{ role }}
        {% endfor %}
    </div>
</div>

{% if "LINEMANAGER" in current_user.roles %}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseOne"
           href="#collapseOne">Line Reports </a> (Assigned:  <span class="badge">{{ assigned_count }}</span> Active: <span class="badge">{{ active_count }}</span> Expiring: <span class="badge">0</span> Expired: <span class="badge">0</span>)
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            Click your line reports name to view their dashboard.<br><br>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-1">Assigned</th>
                        <th class="col-md-1">Active</th>
                        <th class="col-md-1">Complete</th>
                        <th class="col-md-1">Failed</th>
                        <th class="col-md-1">Abandoned</th>
                        <th class="col-md-1">Obsolete</th>
                        <th class="col-md-1">Expiring</th>
                        <th class="col-md-1">Expired</th>
                        </thead>
                        {% for report in linereports %}
                        <tr>
                            <td>{{ report.first_name }} {{ report.last_name }}</td>
                            <td>{{ counts[report.id]["assigned"] }}</td>
                            <td>{{ counts[report.id]["active"] }}</td>
                            <td>{{ counts[report.id]["complete"] }}</td>
                            <td>{{ counts[report.id]["failed"] }}</td>
                            <td>{{ counts[report.id]["abandoned"] }}</td>
                            <td>{{ counts[report.id]["obsolete"] }}</td>
                            <td></td>
                            <td></td>

                        </tr>
                        {% endfor %}
                    </table>

            {% if linereports_inactive > 0 %}
            <div class="alert alert alert-warning">
                You have {{ linereports_inactive }} inactive line reports. Click here to view.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endif %}

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-apple"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
           href="#collapseTwo">Ongoing Training</a> (Assigned: <span class="badge">{{ assigned|length }}</span> Active: <span class="badge">{{ active|length }}</span>)
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            This section provides a list of your assigned and ongoing training.

            {% if assigned|length !=0 %}
            <h2>Assigned</h2>

            <table class="table table-striped">
                <thead>
                <th>Competence</th>
                <th>Assigned By</th>
                <th>Date Assigned</th>
                <th>Start Training</th>
                </thead>


                {%  for assessment in assigned %}
                    {% for details in assessment.ss_id_rel.c_id_rel.competence_detail %}
                    <td>{{ details.title }}</td>
                    <td>{{ assessment.assign_id_rel.first_name }} {{ assessment.assign_id_rel.last_name }}</td>
                    <td>{{ assessment.date_assigned }}</td>
                    <td><a href="{{ url_for('training.activate_competence') }}?u_id={{ current_user.database_id }}&c_id={{ details.c_id }}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-play"></span> Start Training</a></td>
                    {% endfor %}
                {%  endfor %}
            </table>
            {% endif %}
            {% if active|length !=0 %}
            <h2>Ongoing</h2>

            <table class="table table-striped">
                <thead>
                <th>Competence</th>
                <th>Assigned By</th>
                <th>Date Activated</th>
                <th>Percent Complete</th>
                <th>Continue Training</th>
                </thead>


                {%  for assessment in active %}
                    {% for details in assessment.ss_id_rel.c_id_rel.competence_detail %}
                    <td>{{ details.title }}</td>
                    <td>{{ assessment.assign_id_rel.first_name }} {{ assessment.assign_id_rel.last_name }}</td>
                    <td>{{ assessment.date_activated }}</td>
                    <td></td>
                    <td><a href="{{ url_for('training.view_current_competence') }}?user={{ current_user.database_id }}&c_id={{ details.c_id }}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-eye-open"></span> View Training</a></td>
                    {% endfor %}
                {%  endfor %}

            </table>
        {% endif %}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree">Awaiting Sign-Off (1)</a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            This section provides a list of competences that you need to sign-off.
            <table class="table table-striped">
                <thead>
                <th>Competence</th>
                <th>Sub-Section</th>
                <th>Evidence</th>
                <th>Trainee</th>
                <th>Date Completed</th>
                <th>Click To Sign-Off</th>
                </thead>
                <tr>
                    <td>Sysadmin</td>
                    <td>Mounting a Drive</td>
                    <td><a href="" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                    <td>Nichola Cooper</td>
                    <td>01/01/2017</td>
                    <td><a href="" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-education"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFour"
           href="#collapseFour">You Are Competent In... (50)</a>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            **list of completed competencies?**
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-education"></span>
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFive"
           href="#collapseFive">Your Owned Competencies</a> (Incomplete: <span class="badge">{{ competences_incomplete|length }}</span> Complete: <span class="badge">{{ competences_complete|length }}</span>)
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
        {% if competences_incomplete|length != 0 %}
            <div class="row">
                <div class="col-lg-12">

                    <h2>Incomplete</h2>

                    <table class="table table-striped">
                        <thead>
                        <th>Competence</th>
                        <th>Category</th>
                        <th>Q-Pulse Doc Number</th>
                        <th>Continue Editing</th>
                        <th>Mark Complete</th>
                        </thead>
                         {% for i in competences_incomplete %}
                        <tr>
                            <td>{{ i.title }}</td>
                            <td>{{ i.category_rel.category }}</td>
                            <td>{{ i.qpulsenum }}</td>
                            <td><a href="" class="btn btn-sm btn-default"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                            <td><a href="" class="btn btn-sm btn-default"><span
                                    class="glyphicon glyphicon-ok"></span></a>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
            {% endif %}



            <div class="row">
                <div class="col-lg-12">
                    <h2>Complete</h2>

                    <table class="table table-striped">
                        <thead>
                        <th>Competence</th>
                        <th>Category</th>
                        <th>Q-Pulse Doc Number</th>
                        </thead>
                         {% for i in competences_complete %}
                        <tr>
                            <td>{{ i.title }}</td>
                            <td>{{ i.category_rel.category }}</td>
                            <td>{{ i.qpulsenum }}</td>

                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<script>-->
<!--$(function () {-->
<!--$("#competence").accordion({-->
<!--collapsible: true,-->
<!--active: false,-->
<!--heightStyle: 'content',-->
<!--speed: 'fast'-->
<!--});-->
<!--});-->
<!--$(function () {-->
<!--$("#sections").accordion({-->
<!--collapsible: true,-->
<!--active: false,-->
<!--heightStyle: 'content',-->
<!--speed: 'fast'-->
<!--});-->
<!--});-->
<!--</script>-->

{% endblock %}