{% extends "login_base.html" %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <b>Competence</b>DB
{#        <img src="/static/images/logo.png" height="100%" width="100%">#}

    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p><strong>Organisation:</strong> Sheffield Biomedical Research Centre</p>
{#        <p class="login-box-msg">Sign in to start your session</p>#}
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="callout callout-{{ category }}">

                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% if message %}
            <div class="alert alert-danger"><strong>{{ modifier }}</strong> {{ message }}</div>
        {% endif %}
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group has-feedback">
                {{ form.username(class_="form-control") }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form.password(class_="form-control") }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
{#                {% if session['activedirectory'] %}#}
                <span class="help-block pull-right">Click <a href="{{ url_for('admin.request_reset_password') }}">here</a> to reset your password</span>
{#            {% endif %}#}
            </div>
            <div class="row">
{#<div class="g-recaptcha" data-sitekey="6LdbkXsUAAAAAD0tspBrFRUctY_DfrQUZ6jht67S"></div>#}
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-warning btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


    </div>

{#    <small class="pull-right">Need to register? email <a#}
{#            href="mailto:matthewparker24+lzj6vkpuibpnivi6nsog@boards.trello.com?Subject=#CompetenceDB%20#registration%20New%20login"#}
{#            target="_top">bioinformatics</a></small>#}

    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
{% endblock %}
