{% extends "login_base.html" %}

{% block content %}


        <!-- /.login-logo -->
        <div class="login-box-body">
            <h2>Register</h2>
            <small>Most Information is pre-filled. <strong>Just select your job roles, your department and enter your password</strong> and agree to the privacy statement and press "Register"</small><br><br>
            <form action="{{ url_for('register') }}" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=50) }}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.first_name.label }}<br>
                    {{ form.first_name(size=50) }}<br>
                    {% for error in form.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}<br>
                    {{ form.last_name(size=50) }}<br>
                    {% for error in form.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.jobrole.label }}
                    {{ form.jobrole(class_="form-control") }}
                    <span class="help-block">This is your role within the department. <strong>You can select multiple - ctrl + click.</strong></span>
                </p>
                <p>
                    {{ form.service_id.label }}
                    {{ form.service_id(class_="form-control") }}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=50) }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=50) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=50) }}<br>
                    <span class="help-block"><div id="divCheckPasswordMatch"></div></span>
                    {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>



            <p>
{#                    {{ form.agree.label }}<br>#}
                    {{ form.agree() }} I have read and understood the GDPR/Privacy statement <a data-toggle="modal" data-target="#modal-default">
                here
              </a><br>
{#                    {% for error in form.password2.errors %}#}
{#                        <span style="color: red;">[{{ error }}]</span>#}
{#                    {% endfor %}#}
                </p>
                <p>{{ form.submit(class="btn btn-primary btn-block btn-flat",disabled="disabled") }}</p>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modal-default" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">GDPR/Privacy Statement</h4>
              </div>
              <div class="modal-body">
                <p>GDPR Statement Coming Soon....</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->




<script>
$(document).ready(function () {
  $('#agree').click(function () {
      console.log("hello")
    $('#submit').prop("disabled", !$("#agree").prop("checked"));
  })
});

function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmPassword = $("#password2").val();

    if (password != confirmPassword) {
        $("#divCheckPasswordMatch").html("Passwords do not match!");
        $("#divCheckPasswordMatch").removeClass("text-green").addClass("text-red");
    }
    else {
        $("#divCheckPasswordMatch").html("Passwords match.");
        $("#divCheckPasswordMatch").removeClass("text-red").addClass("text-green");
    }

}

$(document).ready(function () {
   $("#password, #password2").keyup(checkPasswordMatch);
});


</script>

{% endblock %}